<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
    <title>OkayuCDN Administrator Panel</title>

    <meta content="OkayuCDN Administrator Panel" property="og:title">
    <meta content="You're most likely gonna get a 403 error." property="og:description">
    <meta content="https://okayu.okawaffles.com/login?redir=/admin" property="og:url">
    <meta content="#0087a9" data-react-helmet="true" name="theme-color">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="/assets/scripts/admin.js"></script>
</head>

<body class="admin_body">
    <%- include('../parts/navbar-logged-in', {active:'none'}) %>

    <!-- I want to split this into separate ejs files to make it easier to work with and use -->

    <div class="admin_full scrollable">
        <div class="admin_top_bar">
            <div class="left">
                <button id="userManagement">User Management</button>
                <button id="ipManagement">IP Management</button>
            </div>
            <div class="right">
                <h3><p id="memory-usage">Memory Usage Loading...</p></h3>
            </div>
        </div>

        <div class="admin_page userManagement" id="userPage">
            <div class="userList x-scrollable" id="userList">
                <h3>Users</h3>
            </div>
            <div class="options" id="userOptions">
                <div class="sticky_top">
                    <h2 class="admin_title" id="username">Managing Username</h2>
                    <div class="buttons">
                        <button id="forgeToken">
                            Log in as this user
                        </button>
                    </div>
                </div>
                <div class="userContent" id="userContent">
                    <!-- <h2 class="admin_subtitle">User Content:</h2> -->
                    <div class="userItems">
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="admin_page ipManagement" id="ipManage">
            <div class="bans_panel">
                <div class="top">
                    
                </div>

                <div class="banlist">
                    <div class="top">    
                        <h1>Banned IP Addresses</h1>
                        <button id="add_ban">Ban an IP</button>
                    </div>
                    <div id="ip_container">
                        <!-- Banned IPs will populate this div -->
                    </div>
                </div>
            </div>

            <div class="ipBanner" id="ipBanner">
                <input type="text" id="ip">
                <input type="text" id="reason">
                <button id="ban">Ban this IP</button>
            </div>
        </div>
    </div>
</body>

</html>