<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <title>404 - OkayuCDN</title>

    <meta content="404 | OkayuCDN" property="og:title">
    <meta content="Free file uploading for all." property="og:description">
    <meta content="https://okayu.okawaffles.com/404" property="og:url">
    <meta content="#9000e3" data-react-helmet="true" name="theme-color">
</head>
<body>
    <ul class="navi-ul">
        <li class="navi-li-left navi-li"><a href="/home" class="navi-a">Home</a></li>
        <li class="navi-li-left navi-li"><a href="/manage/upload" class="navi-a">Upload</a></li>
        <li class="navi-li-left navi-li"><a href="/manage/content" class="navi-a">Manage</a></li>
        <li class="navi-li-right navi-li"><a href="/info" class="navi-a">Info</a></li>
    </ul>

    <div class="container">
        <h1 class="title">Oh Nyao!</h1>
        <h2 class="subtitle sa">The requested file or page wasn't found!</h3>
        <h2 class="subtitle sb">If this is a mistake, please contact okawaffles#0001</h3>
    </div>

    <div class="characters">
        <img src="/assets/images/okayu_404.png" class="chara-center" />
    </div>



    <style>
        @font-face {
            font-family: KFhimajiMOCO;
            src: url("https://okayu.okawaffles.com/content/2.otf");
        }

        body {
            background-color: #3d3d3d;
            font-family: KFhimajiMOCO;
            margin: 0;
            overflow: hidden;
        }

        

        .navi-ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        .navi-li-left {
            float: left;
        }
        .navi-li-right {
            float: right;
        }

        .navi-li-left a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }
        .navi-li-right a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        .navi-li a:hover {
            background-color: #111;
        }


        .container {
            padding: 2.5%;
            color: white;
        }
        @keyframes titleToTop {
            0% { 
                transform: translateY(1200%);
                opacity: 0%;
            }
            100% { 
                transform: translateY(0%); 
                opacity: 100%;
            }
        }
        @keyframes subToTop {
            0% { 
                transform: translateY(2400%);
                opacity: 0%;
            }
            100% { 
                transform: translateY(0%); 
                opacity: 100%;
            }
        }

        .title {
            font-size: 86px;
            animation: titleToTop 1.5s ease;
        }
        .subtitle {
            font-size: 48px;
        }
        .sa {
            transform: translateY(2400%);
            animation: subToTop 1.5s ease;
            animation-fill-mode: forwards;  
            animation-delay: 100ms;
        }
        .sb {
            transform: translateY(2400%);
            animation: subToTop 1.5s ease;
            animation-fill-mode: forwards;  
            animation-delay: 200ms;
        }
        

        @keyframes charaFly {
            0% { 
                transform: translateY(200%);
            }
            100% { 
                transform: translateY(0%); 
            }
        }
        
        .characters {
            position: absolute;
            left: 50%;
            transform: translateX(-85%);
        }

        .chara-center {
            transform: translateY(200%);

            animation: 1s charaFly ease;
            animation-fill-mode: forwards;
            animation-delay: 1250ms;
            width: 160%;
            height: 160%;
        }
        .chara-first {
            transform: translateY(200%);
 
            animation: 1s charaFly ease;
            animation-fill-mode: forwards;
            animation-delay: 1500ms;
        }
        .chara-last {
            transform: translateY(200%);

            animation: 1s charaFly ease;
            animation-fill-mode: forwards;
            animation-delay: 1500ms;
        }

        @media screen and (max-width: 600px) {
            .chara-center {
                display: none;
            }
            .title {
                font-size: 43px;
            }
            .subtitle {
                font-size: 24px;
            }
        }
    </style>
</body>
</html>