<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
    <title>OkayuCDN Administrator Panel</title>

    <meta content="OkayuCDN Administrator Panel" property="og:title">
    <meta content="You're most likely gonna get a 403 error." property="og:description">
    <meta content="https://okayu.okawaffles.com/login?redir=/admin" property="og:url">
    <meta content="#9000e3" data-react-helmet="true" name="theme-color">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="/assets/scripts/admin.js"></script>
</head>

<body>
    <%- include('parts/navbar-logged-in', {active:'none'}) %>

    <div class="admin_full scrollable">
        <div class="userList x-scrollable" id="userList">
            
        </div>
        <div class="options" id="userOptions">
            <div class="sticky_top">
                <h2 class="admin_title" id="username">Managing Username</h2>
                <div class="buttons">
                    <button id="forgeToken">
                        Log in as this user
                    </button>
                </div>
            </div>
            <div class="userContent" id="userContent">
                <!-- <h2 class="admin_subtitle">User Content:</h2> -->
                <div class="userItems">

                </div>
            </div>
        </div>
    </div>

    <h3 class="version">OkayuCDN Admin Panel<p id="memory-usage">?</p></h3>
</body>

</html>