<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
    <title>OkayuCDN Administrator Panel</title>

    <meta content="OkayuCDN Administrator Panel" property="og:title">
    <meta content="You're most likely gonna get a 403 error." property="og:description">
    <meta content="https://okayu.okawaffles.com/login?redir=/admin" property="og:url">
    <meta content="#9000e3" data-react-helmet="true" name="theme-color">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('parts/navbar-logged-in', {active:'none'}) %>

    <br><br>

    <div class="server-stats">
        <div class="stat">
            <h1 class="stat-title">
                Memory Usage
            </h1>
            <h2 id="memory-usage">
                0.00MB
            </h2>
        </div>
    </div>

    <br><br>

    <div class="admin-pane">
        <h2 id="title">Delete Content</h2>
        <div class="flexbreak"></div>
        <form action="/api/admin/delFile" method="post" class="admin-form">
            <input type="text" name="username" class="admin-pane-input" placeholder="Username">
            <input type="text" name="filename" class="admin-pane-input" placeholder="File name">
            <div class="flexbreak"></div>
            <input type="submit" value="Delete" class="admin-pane-button">
        </form>
    </div>

    <br><br>

    <div class="admin-pane">
        <h2 id="title">Restrict User</h2>
        <div class="flexbreak"></div>
        <form action="/api/admin/resUser" method="post" class="admin-form">
            <input type="text" name="username" class="admin-pane-input" placeholder="Username">
            <input type="text" name="filename" class="admin-pane-input" placeholder="Reason">
            <div class="flexbreak"></div>
            <input type="submit" value="Restrict" class="admin-pane-button">
        </form>
    </div>

    <br><br>

    <div class="admin-pane">
        <h2 id="title">Log in as another user</h2>
        <div class="flexbreak"></div>
        <form action="/api/admin/loginAs" method="post" class="admin-form">
            <input type="text" name="username" class="admin-pane-input-large" placeholder="Their username">
            <div class="flexbreak"></div>
            <input type="text" name="filename" class="admin-pane-input" placeholder="Your username">
            <input type="text" name="filename" class="admin-pane-input" placeholder="Your password">
            <div class="flexbreak"></div>
            <input type="submit" value="Log in" class="admin-pane-button">
        </form>
    </div>

    <h3 class="version">OkayuCDN Admin Panel</h3>
</body>

<script>
function get() {
    $.getJSON('/api/health', (data) => {
        $('#memory-usage').text(data.system.mem.used + ' / ' + data.system.mem.malloc + ' / ' + data.system.mem.systotal);
    });

    setTimeout(() => {
        get();
    }, 5000);
}

get();
</script>

</html>