<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
    <title>OkayuCDN Administrator Panel</title>

    <meta content="OkayuCDN Administrator Panel" property="og:title">
    <meta content="You're most likely gonna get a 403 error." property="og:description">
    <meta content="https://okayu.okawaffles.com/login?redir=/admin" property="og:url">
    <meta content="#9000e3" data-react-helmet="true" name="theme-color">
</head>

<body>
    <header>
        <img class="logo" src="/assets/images/logo.png" width="200"></img>
        <nav>
            <ul class="nav_links">
                <li><a href="#"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="/manage/upload"><i class="fa-solid fa-upload"></i> Upload</a></li>
                <li><a href="/mybox"><i class="fa-solid fa-box"></i> My Box</a></li>
                <li><a href="/info"><i class="fa-solid fa-circle-info"></i> Info</a></li>
            </ul>
        </nav>
    </header>

    <div class="admin-whole">
        <div class="admin-pane">
            <h2 id="title">Delete Content</h2>
            <form class="admin-form" action="/api/admin/delFile" method="POST" enctype="multipart/form-data">
                <input class="admin-pane-inputs" type="text" name="username" required placeholder="Username" pattern="[a-zA-Z0-9_-]{3-50}" style="width: 250px;" />
                <input class="admin-pane-inputs" type="text" name="filename" required placeholder="Filename" pattern="[a-zA-Z0-9_-]{3-50}" style="width: 250px;" /><br>
                <input type="submit" style="position: absolute; left: 50%; transform: translateX(-50%)"/>
            </form><br>
            <p style="text-align: center;">File will be deleted forever</p>
        </div>

        <br>

        <div class="admin-pane">
            <h2 id="title">Restrict User</h2>
            <form class="admin-form" action="/api/admin/resUser" method="POST" enctype="multipart/form-data">
                <input class="admin-pane-inputs" type="text" name="username" required placeholder="Username" pattern="[a-zA-Z0-9_-]{3-50}" style="width: 250px;" />
                <input class="admin-pane-inputs" type="text" name="reason" required placeholder="Reason" pattern="[a-zA-Z0-9_-]{3-50}" style="width: 250px;" /><br>
                <input type="submit" style="position: absolute; left: 50%; transform: translateX(-50%)"/>
            </form><br>
            <p style="text-align: center;">User data will be modified</p>
        </div>

        <br>

        <div class="admin-pane">
            <h2 id="title">Log in as User</h2><br>
            <form class="admin-form" action="/api/admin/loginAs" method="POST" enctype="multipart/form-data">
                <div style="text-align:center;">
                    <input type="text" name="user" required placeholder="Username" pattern="[a-zA-Z0-9_-]{3-50}" style="width: 250px;" /><br>
                </div>

                <div style="text-align:center">
                    <p>Enter YOUR Username and Password to continue</p>
                    <input type="text" placeholder="Username" name="un" required />
                    <input type="password" placeholder="Password" name="pw" required /><br>
                </div>

                <p style="text-align: center;">By clicking Submit, you agree that you are held accountable for any misuse of this function.</p>
                <input type="submit" style="position: absolute; left: 50%; transform: translateX(-50%)"/>
            </form>
        </div>
    </div>

    <h3 class="version">OkayuCDN Admin Panel</h3>
</body>

</html>