<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorize App | OkayuCDN</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
</head>

<body class="authorize_body">

    <div class="authorize_panel">
        <div id="loading">
            <div class="building-blocks" style="--primary: #fff;">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div id="displayed">
            <div class="top">
                <h3 class="authorize_title">Do you want to authorize</h3>
                <h1 class="authorize_name">AppName</h1>
                <h3 class="authorize_subtitle">on your account?</h3>
            </div>
            <hr>
            <h3 class="authorize_title">It will have permission to:</h3>
            <div class="permissions">
                <ul class="permissions_list">
                    <li>Authorize the website</li>
                    <li>Authorize the desktop app</li>
                    <li>Read your storage info</li>
                    <li>View your public items</li>
                    <li>View your private items</li>
                    <li>Change privacy of your items</li>
                    <li>Delete items from your box</li>
                    <li>Upload on your behalf</li>
                    <li>Change your account options</li>
                </ul>
            </div>
            
            <div class="buttons">
                <button>Yes</button>
                <button class="btn-red">No</button>
            </div>
        </div>
    </div>
</body>

</html>