<!DOCTYPE html>

<head>
    <title>Whoops! | OkayuCDN</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
</head>

<html>

<body>
    <%- include('parts/navbar', {active:'none'}) %>
    <div class="container404">
        <img src="/assets/images/okayu_angry.jpg">
        <h1>Whoops! The server has rejected your request!</h1>
        <h4>You might be trying to do something nasty! Either that, or one of your inputs didn't follow requirements!</h4>
        <br><br>
        <h4>Ended up here by mistake? Just go back and check your inputs again.</h4>
        <h4>Keep ending up here but you're sure everything is correct? Report it on <a class="clickable-link" href="https://github.com/okawaffles/OkayuCDN">GitHub</a>!</h4>
    </div>
</body>

<style>
    * {
        color: white;
    }
    .container404 {
        text-align: center;
        margin-top: 5em;
    }
    img {
        width: 10%; 
        height: 10%
    }
    @media screen and (max-width: 714px) {
        img {
            width: 75%;
            height: 75%
        }
    }
</style>

</html>