<!DOCTYPE html>

<head>
    <title>Internal Server Error | OkayuCDN</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon" />
</head>

<html>

<body>
    <div class="container404">
        <img src="/assets/images/okayu_angry.jpg">
        <h1>An internal server error has occurred. It's been reported automatically!</h1>
        <h5>Sorry about that!</h5>
        <br><br>
        <h5>Are you a dev? Make sure to add the "DEV_MODE" flag so this page shows an error instead!</h5>
    </div>
</body>

<style>
    * {
        color: white;
    }
    .container404 {
        text-align: center;
        margin: 15% 10px 0px 10px;
    }
    img {
        width: 10%; 
        height: 10%
    }
    @media screen and (max-width: 714px) {
        img {
            width: 75%;
            height: 75%
        }
    }
</style>

</html>