<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to OkayuCDN!</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <img class="logo" src="/assets/images/logo.png" width="200"></img>
        <nav>
            <ul class="nav_links">
                <li><a href="/home"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="/manage/upload"><i class="fa-solid fa-upload"></i> Upload</a></li>
                <li><a href="/mybox"><i class="fa-solid fa-box"></i> My Box</a></li>
                <li><a href="/info"><i class="fa-solid fa-circle-info"></i> Info</a></li>
                <li><a href="/account"><i class="fa-solid fa-user"></i> My Account</a></li>
            </ul>
        </nav>
    </header>

    <h2 class="error_header">Oh Nyao...</h2>
    <h3 class="error"><%= error%></h3>
    
    </h3><br>
</body>
</html>