<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to OkayuCDN!</title>
        <link rel="stylesheet" href="/assets/styles/_newStyles.css">
        <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

        <meta property="og:title" content="Home - OkayuCDN" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://okayu.okawaffles.com" />
        <!-- <meta property="og:image" content="https://okayu.okawaffles.com/assets/images/thumbnail.png" /> -->
        <meta property="og:description" content="Upload files for free" />
        <meta name="theme-color" content="#9a21db">
    </head>
    <body>
        <%- include('parts/navbar', {active:'home'}) %>
        <div id="announcement">
            <p id="announcement-content">This is where an announcement would go.</p>
        </div>

        <div class="container">
            <h1 class="title" id="t_title __LANG_WELCOME">Welcome to OkayuCDN!</h1>
            <h2 class="subtitle sa" id="t_sa __LANG_SUB_A">You can upload your files for free here!</h2>
            <h2 class="subtitle sb" id="t_sb __LANG_SUB_B">These files can then be shared and embedded anywhere!</h2>
        </div>

        <div class="characters">
            <img src="./assets/images/okayu_450.png" class="chara-center" />
        </div>

        <!-- <div class="home">
            <h1>Welcome to OkayuCDN!</h1>
        </div> -->

        <h3 class="v" id="ver">v<%= version %>
        </h3><br>
    </body>

<script>
    $.getJSON('/api/health', (data) => {
        const announcement = data.config.announcement;
        if (announcement.active) {
            $('#announcement').css('display', 'inherit');
            $('#announcement-content').html(announcement.content);
        }
    });

    $('#ver').click(() => {
        let version = $('#ver').text();
        if (!version.includes('(')) return;
        
        let commitId = version.split('(')[1].split(')')[0];

        document.location = `https://github.com/okawaffles/OkayuCDN/commit/${commitId}`;
    });
</script>

</html>