<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to OkayuCDN!</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/assets/scripts/language.js"></script>
</head>
<body>
    <header>
        <img class="logo" src="/assets/images/logo.png" width="200"></img>
        <nav>
            <ul class="nav_links">
                <li><a href="#" class="active"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="/manage/upload"><i class="fa-solid fa-upload"></i> Upload</a></li>
                <li><a href="/mybox"><i class="fa-solid fa-box"></i> My Box</a></li>
                <li><a href="/info"><i class="fa-solid fa-circle-info"></i> Info</a></li>
                <li><a href="/account"><i class="fa-solid fa-user"></i> My Account</a></li>
            </ul>
        </nav>
    </header>

    <div id="gdpr" class="gdpr_regulation_cookie_banner">
        <p>OkayuCDN Two-Factor Authentication is now in open beta!</p>
        <button onclick="document.location = '/account/2fa/setup'" class="gdpr_button">Try it out!</button>
    </div>

    <div class="container">
        <h1 class="title" id="t_title">Welcome to OkayuCDN!</h1>
        <h2 class="subtitle sa" id="t_sa">You can upload your files for free here!</h2>
        <h2 class="subtitle sb" id="t_sb">Any file type is supported and they can be embedded in Discord!</h2>
    </div>

    <div class="characters">
        <img src="./assets/images/okayu_450.png" class="chara-center" />
    </div>

    <h3 class="v">v<%= version %>
    </h3><br>
</body>

<script>
    checkLanguage('home');
</script>

</html>