<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info | OkayuCDN</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
</head>

<body class="info_body">
    <%- include('parts/navbar', {active:'info'}) %>

    <div class="info-main">
        <div class="infopane">
            <h1 class="section_header follow_text">Info</h1>
            <h3 class="info_item follow_text"><i class="fa-brands fa-node"></i> Powered by Node.JS and express.js</h3>
            <h3 class="info_item follow_text"><i class="fa-solid fa-font"></i> Fonts used: Gen Jyuu Gothic & Font Awesome Free</h3>
            <h3 class="info_item follow_text"><i class="fa-solid fa-heart"></i> Contributors: okawaffles <a class="hyperlink_text bethefirst" href='https://github.com/okawaffles/okayucdn'>(Contribute to OkayuCDN)</a></h3>
            <h3 class="info_item follow_text"><i class="fa-solid fa-bug"></i> Report Bugs <a class="hyperlink_text" style="font-size: 1em;" href="https://github.com/okawaffles/okayucdn/issues">here</a>.</h3>
        </div>
        <hr class="hr-info">
        <div class="freesoft">
            <h3 class="follow_text">OkayuCDN is free software</h3>
            <h4 class="follow_text">OkayuCDN is free, and always will be. If you or anybody else paid any amount of money for this software, whether it be modified source code or not, they should demand a refund immediately, as well as grab the latest version from the <a class="hyperlink_text" onclick="document.location = 'https:\/\/github.com/okawaffles/okayucdn'">GitHub page</a> instead.</a></h4>
        </div>
    </div>
</body>

</html>