<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info | OkayuCDN</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
</head>

<body class="info_body">
    <%- include('parts/navbar', {active:'info'}) %>

    <div class="info-main">
        <div class="stats">
            <h1 class="section_header">Stats</h1>
            <h3 class="stats_item">Total Uploads: <%= uploads %></h3>
            <h3 class="stats_item">Total Accounts: <%= accounts %></h3>
        </div>
        <hr class="hr-info">
        <div class="infopane">
            <h1 class="section_header">Info</h1>
            <h3 class="info_item"><i class="fa-brands fa-node"></i> Powered by Node.JS and express.js</h3>
            <h3 class="info_item"><i class="fa-solid fa-font"></i> Fonts used: Gen Jyuu Gothic & Font Awesome (Icons)</h3>
            <h3 class="info_item"><i class="fa-solid fa-heart"></i> Supporters: PanickedShears, KBGKaden</h3>
            <h3 class="info_item"><i class="fa-solid fa-bug"></i> Bugtesters: PanickedShears, KBGKaden, catcodraws</h3>
        </div>
    </div>

</body>

</html>