<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info | OkayuCDN</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
</head>

<body class="info_body">
    <header>
        <img class="logo" src="/assets/images/logo.png" width="200"></img>
        <nav>
            <ul class="nav_links">
                <li><a href="/home"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="/manage/upload"><i class="fa-solid fa-upload"></i> Upload</a></li>
                <li><a href="/mybox"><i class="fa-solid fa-box"></i> My Box</a></li>
                <li><a href="#" class="active"><i class="fa-solid fa-circle-info"></i> Info</a></li>
            </ul>
        </nav>
    </header>

    <div class="info-main">
        <div class="stats">
            <h1 class="section_header">Stats</h1>
            <h3 class="stats_item">Total Uploads: <%= uploads %></h3>
            <h3 class="stats_item">Total Accounts: <%= accounts %></h3>
        </div>
        <hr class="hr-info">
        <div class="infopane">
            <h1 class="section_header">Info</h1>
            <h3 class="info_item"><i class="fa-brands fa-node"></i> Powered by Node.JS and express.js</h3>
            <h3 class="info_item"><i class="fa-solid fa-font"></i> Fonts used: Gen Jyuu Gothic & Font Awesome (Icons)</h3>
            <h3 class="info_item"><i class="fa-solid fa-heart"></i> Supporters: PanickedShears, KBGKaden</h3>
            <h3 class="info_item"><i class="fa-solid fa-bug"></i> Bugtesters: PanickedShears, KBGKaden, catcodraws</h3>
        </div>
        <hr class="hr-info">
        <div class="infopane">
            <h1>Did you know?: Datecodes</h1>
            <h3>Datecodes can be read like this!</h3>
            <h3>SVC:L:R:DD MO YYYY HH MN</h3>
            <h3>Where SVC = Service, L = Language, R = Region, and D, MO, Y, H, MN = Date and time of edits.</h3>
            <h3>Services: CDN = OkayuCDN, WTN = WaffleTools, NV4 = Fraise Authenticator</h3>
            <h3>Languages: E = English, J = Japanese, K = Korean</h3>
            <h3>Regions: G = Global, J = Japan, U = United States, and E = Europe (or UK)</h3><br>
            <h3>We might serve you a different webpage based on your region. This is usually to comply with laws and regulations.</h3>
        </div>
    </div>

</body>

</html>