<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <meta name="viewport" content="width=device-width">
    <title>Welcome to OkayuCDN</title>
</head>

<body>
    <ul class="navi-ul">
        <li class="navi-li-left navi-li"><a href="../home" class="navi-a">Home</a></li>
        <li class="navi-li-left navi-li"><a href="../manage/upload" class="navi-a">Upload</a></li>
        <li class="navi-li-left navi-li"><a href="../manage/content" class="navi-a">Manage</a></li>
        <li class="navi-li-right navi-li"><a href="../info" class="navi-a">Info</a></li>
    </ul>

    <br>

    <div class="row">
        <div class="column cl">
            <h1>Nekomata Okayu</h1>
            <h4>Nekomata Okayu is intellectual property of COVER corp.</h4>
            <hr>
            <img src="assets/images/okayu_full.png">
        </div>
        <div class="column cr rs">
            <h1>What is OkayuCDN's purpose?</h1>
            <h4>Okayu Content Delivery Network</h4>
            <hr>
            <h2 class="pg">
                &emsp;&emsp;You know Discord's stupid 8MB file limit for non-nitro users? This website is here to allow my
                friends to upload their (usually) 30 second game clips or other media for free. You just copy the link
                and you're ready to go! This website is open source and free to use! As long as you don't upload
                anything that goes against our <a class="tos" href="../terms">Terms of Service</a>, you're allowed to
                upload anything up to 1GB in size!
            </h2>
        </div>
    </div>



    <style>
        @font-face {
            font-family: KFhimajiMOCO;
            src: url("https://okayu.okawaffles.com/content/2.otf");
        }

        * {
            box-sizing: border-box;
        }

        body {
            background-color: #3d3d3d;
            font-family: KFhimajiMOCO;
            margin: 0;
        }


        .column {
            float: left;
            width: 50%;
            padding: 2.5%;
            color: white;
            background: #333;
            text-align: center;
            height: auto;

            border-radius: 20px;
        }

        .row {
            padding-left: 10px;
            padding-right: 10px;
        }

        .pg {
            text-align: left;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        img {
            width: 20%;
        }

        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
        }

        .tos {
            color: #068eb8;
        }

        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
        }



        .navi-ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        .navi-li-left {
            float: left;
        }

        .navi-li-right {
            float: right;
        }

        .navi-li-left a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }

        .navi-li-right a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        .navi-li a:hover {
            background-color: #111;
        }
    </style>
</body>

</html>