<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in | OkayuCDN</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/assets/scripts/login.js"></script>
</head>
<body>
    <header>
        <img class="logo" src="/assets/images/logo.png" width="200"></img>
        <nav>
            <ul class="nav_links">
                <li><a href="/home"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="/manage/upload"><i class="fa-solid fa-upload"></i> Upload</a></li>
                <li><a href="/mybox"><i class="fa-solid fa-box"></i> My Box</a></li>
                <li><a href="/info"><i class="fa-solid fa-circle-info"></i> Info</a></li>
            </ul>
        </nav>
    </header>

    <!-- gdpr consent -->
    <script src="/assets/scripts/gdpr.js"></script>

    <div id="gdpr" class="gdpr_regulation_cookie_banner" style="display: none">
        <p>We only store preferences and login information in your cookies. If you do not approve of this, please do not use OkayuCDN.</p>
        <button onclick="setGDPRConsent()" class="gdpr_button">Okay</button>
    </div>

    <script>
        if (!checkGDPRConsent())
            document.getElementById("gdpr").style.display = "flex";
    </script>

    <div class="upload-pane">
        <h2 class="login_title">Welcome to OkayuCDN!</h2>
        <h4 class="login_subtitle">Let's get you logged in and ready to go!</h4>
        
        <div class="login_form" id="form">
            <input type="text" placeholder="Username" class="username" name="un" id="un" required /><br>
            <input type="password" placeholder="Password" class="password" name="pw" id="pw" required /><br>
            <p class="login_error">Please check your username and password.</p>

            <div class="wrap">
                <button class="go" id="submit" value="Go" onclick="sendLoginPOST('<%=redir%>')">Go</button>
                <!-- <input type="submit" class="go" id="submit" value="Go" /> -->
            </div>
        </div>

        <div class="tfa" id="2fa">
            <h4 class="login_subtitle">Two Factor Authentication</h4>
            <input type="number" placeholder="2FA Code" class="username" name="un" id="un" required /><br>
            <p class="error_2fa">Incorrect 2FA code.</p>
        </div>

        <br>
        <div class="wrap">
            <button class="noacc" onclick="location = `../signup`">I don't have an account</button>
        </div>
        <div class="line" style="--primary: white; display: none;"></div>
    </div>
</body>
</html>