<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in | OkayuCDN</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/assets/scripts/login.js"></script>
    <script src="/assets/scripts/gdpr.js"></script>
</head>
<body class="scrollable">
    <%- include('parts/navbar', {active:'login'}) %>

    <div id="gdpr" class="gdpr_regulation_cookie_banner" style="display: none">
        <p>We only store preferences and login information in your cookies. If you do not approve of this, please do not use OkayuCDN.</p>
        <button onclick="setGDPRConsent()" class="gdpr_button">Okay</button>
    </div>

    <div class="okayu-login">
        <div class="panel">
            <div class="top">
                <h1>Welcome to OkayuCDN!</h1>
                <div class="inputs" id="inputs">
                    <input type="text" placeholder="Username" id="username" />
                    <input type="password" placeholder="Password" id="password" />
                </div>
                <div class="twofactor-inputs" id="twofactor-inputs">
                    <input type="text" placeholder="2FA Code" id="twofactor-code">
                </div>
            </div>
            <div class="bottom">
                <p class="error" id="login_error">Error: please do this and that.</p>
                <button class="go" id="login">Let's go!</button>
            </div>
        </div>
        <div class="separator">OR</div>
        <button class="go btn-red noacc" onclick="document.location = '/signup'">Sign up instead</button>
    </div>
</body>
</html>