<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Box | OkayuCDN</title>
        <link rel="stylesheet" href="/assets/styles/_newStyles.css" />
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://kit.fontawesome.com/dc1b60441b.js"
            crossorigin="anonymous"
        ></script>
        <script src="/assets/scripts/mybox_v6.js"></script>
    </head>
    <body class="mybox_body" id="body">
        <%- include('parts/navbar-logged-in', {active:'mybox'}) %>

        <div class="modal-overlay" id="overlay"></div>
        <div class="modal" id="link_type_modal">
            <div class="modal-body">
                <div class="modal-top">
                    <p class="modal-title">What type of link do you want?</p>
                    <p class="modal-description">
                        If you want to temporarily share something, use a short
                        link. If you want to host a file (for use somewhere
                        else), use the default link.
                    </p>
                </div>
                <div class="modal-bottom">
                    <button class="modal-button" id="link_short">
                        Short Link
                    </button>
                    <button class="modal-button" id="link_long">
                        Default Link
                    </button>
                </div>
            </div>
        </div>

        <div class="mybox_form_pane">
            <h2 class="mybox_title">Manage your Box</h2>

            <div id="newStorageAmount">
                <div class="mybox-fill-background" id="fill"></div>
                <div class="mybox-fill-preview" id="mybox-fill-preview"></div>
                <div class="texts">
                    <p class="left" id="used">0B</p>
                    <p class="right" id="total">1024GB</p>
                </div>
            </div>

            <br />
            <h2 class="mybox_contentH2">Your Content:</h2>
            <br />
            <h3>Sort Method</h3>
            <select id="sort_method" class="sort_select">
                <option value="default">Alphabetical (A-Z)</option>
                <option value="privated">Alphabetical (A-Z, Private First)</option>
                <option value="size-large">Size (largest first)</option>
                <option value="size-small">Size (smallest first)</option>
                <option value="date-new">Upload Date (newest first)</option>
                <option value="date-old">Upload Date (oldest first)</option>
                <option value="filetype">File Type</option>
            </select>
            <div class="line" id="loader"></div>
            <div id="content_container">
                <p class="mybox_noContent">
                    You have no content to show. Try uploading something!
                </p>
            </div>
        </div>

        <h3 class="version"><label id="experiment-on">Experiment Active</label></h3><br>
    </body>
</html>
