<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oh Nyao... | OkayuCDN!</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <img class="logo" src="/assets/images/logo.png" width="200"></img>
        <nav>
            <ul class="nav_links">
                <li><a href="#"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="/manage/upload"><i class="fa-solid fa-upload"></i> Upload</a></li>
                <li><a href="/mybox"><i class="fa-solid fa-box"></i> My Box</a></li>
                <li><a href="/info"><i class="fa-solid fa-circle-info"></i> Info</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1 class="title" id="t_title">Oh Nyao!</h1>
        <h2 class="subtitle sa" id="t_sa">The requested content or page wasn't found!</h2>
        <h2 class="subtitle sb" id="t_sb">If this is a mistake, please contact okawaffles!</h2>
    </div>

    <div class="characters">
        <img src="/assets/images/okayu_404.png" class="chara-center" />
    </div>

    <h3 class="v">v<%= version %>
    </h3><br>
</body>
</html>