<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <title>Oh Nyao!</title>

    <meta content="Oh Nyao!" property="og:title">
    <meta content="OkayuCDN is down for maintenance!" property="og:description">
    <meta content="https://okayu.okawaffles.com/home" property="og:url">
    <meta content="#9000e3" data-react-helmet="true" name="theme-color">
</head>

<body>
    <ul class="navi-ul">
        <li class="navi-li-left navi-li"><a href="/" class="navi-a">Maintenance</a></li>
    </ul>

    <div class="container">
        <h1 class="title">Information</h1>
        <h2 class="subtitle sa">We are currently not operating.</h2>
        <h2 class="subtitle sb">Please come and check back later.</h2>
    </div>

    <div class="characters">
        <img src="https://okayu.okawaffles.com/assets/images/okayu_404.png" class="chara-center" />
    </div>

    <h3>v<%= version %></h3>

    <style>
        @font-face {
            font-family: KFhimajiMOCO;
            src: url("/assets/fonts/GenJyuuGothic.ttf");
        }

        body {
            background-color: #3d3d3d;
            font-family: KFhimajiMOCO;
            margin: 0;
            overflow: hidden;
        }

        .navi-ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        .navi-li-left {
            float: left;
        }

        .navi-li-right {
            float: right;
        }

        .navi-li-left a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }

        .navi-li-right a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        .navi-li a:hover {
            background-color: #111;
        }


        .container {
            padding: 2.5%;
            color: white;
        }

        @keyframes titleToTop {
            0% {
                transform: translateY(1200%);
                opacity: 0%;
            }

            100% {
                transform: translateY(0%);
                opacity: 100%;
            }
        }

        @keyframes subToTop {
            0% {
                transform: translateY(2400%);
                opacity: 0%;
            }

            100% {
                transform: translateY(0%);
                opacity: 100%;
            }
        }

        .title {
            font-size: 86px;
            animation: titleToTop 1.5s ease;
        }

        .subtitle {
            font-size: 48px;
        }

        .sa {
            transform: translateY(2400%);
            animation: subToTop 1.5s ease;
            animation-fill-mode: forwards;
            animation-delay: 100ms;
        }

        .sb {
            transform: translateY(2400%);
            animation: subToTop 1.5s ease;
            animation-fill-mode: forwards;
            animation-delay: 200ms;
        }


        @media screen and (max-width: 600px) {
            .title {
                font-size: 43px;
            }

            .subtitle {
                font-size: 24px;
            }

            .navi-a {
                font-size: 12px;
            }

            /*.chara-center {
                width: 100%;
                display: none;
            }*/
        }


        @keyframes charaFly {
            0% {
                bottom: -100%;
            }

            100% {
                bottom: 0;
            }
        }
        @keyframes charaFlyMobile {
            0% {
                transform: translateY(400%);
            }

            100% {
                transform: translateY(100%);
            }
        }

        .chara-center {
            position: absolute;
            bottom: -100%;
            left: 50%;
            transform: translateX(-50%);

            animation: 1s charaFly ease;
            animation-fill-mode: forwards;
            animation-delay: 1250ms;
        }

        h3 {
            position: fixed;
            bottom: -10px;
            right: 10px;
            color: white;
        }
    </style>
</body>

</html>