<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickTransfer Receive | OkayuCDN</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
    <script src="/assets/scripts/qt_receiver.js"></script>
    <script src="/assets/scripts/e2ee.js"></script> <!-- LILY2EE -->
</head>

<body class="qt-receive">
    <%- include('parts/navbar', {active:'none'}) %>
        
    <h1 class="qt-title">Receive a QuickTransfer</h1>
    <h3 class="qt-subtitle" id="qt-receive-status">Connecting...</h3>

    <div class="uploader qt-receive-progress">
        <div class="upload-progress" id="div_progress">
            <div class="progressBarContainer">
                <div class="progressBar" id="progress"></div>
            </div>
        </div>
    </div>
</body>

</html>