<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <title>Terms of Service | OkayuCDN</title>

    <meta content="Terms of Service | OkayuCDN" property="og:title">
    <meta content="Free file uploading for all." property="og:description">
    <meta content="https://okayu.okawaffles.com/terms" property="og:url">
    <meta content="#9000e3" data-react-helmet="true" name="theme-color">
</head>
<body>
    <ul class="navi-ul">
        <li class="navi-li-left navi-li"><a href="../home" class="navi-a">Home</a></li>
        <li class="navi-li-left navi-li"><a href="../manage/upload" class="navi-a">Upload</a></li>
        <li class="navi-li-left navi-li"><a href="../manage/content" class="navi-a">Manage</a></li>
        <li class="navi-li-right navi-li"><a href="../info" class="navi-a">Info</a></li>
    </ul>

    <div class="container">
        <h1 class="title">Terms of Service</h1>
        <h2 class="subtitle sa">This page defines what you can and cannot do with our services.</h2>
        <h3 class="sb">Last updated May 10th, 2022 by okasoft development team</h3>

        <br><hr class="hrFlyUp"><br>

        <h3 class="nofont terms">
            &emsp;&emsp;When we speak of "we," "us," "our," and "okasoft," we are referring to okasoft development team as a whole, including all services and child products. When speaking of "OkayuCDN" or "the site," we are referring to OkayuCDN as a whole, including it and its child services (such as OCDN-FYTDLR).
            <br><br>&emsp;&emsp;When using our services, you must abide to this set of rules/regulations outlined here. If you do not, your account is subject to punishment ranging from a temporary ban from our site to a permanent deletion of your account and content, along with an IP-wide ban.
            <br><br><br>- Rules and regulations -
            <br><br>Rule-bend policy:
            <br>&emsp;&emsp;Even though our Terms of Service does not outline all cases, this does *not* make everything legal. If okasoft staff find you to be in violation of our Terms of Service in one way or another, you will be punished accordingly.
            <br><br>Upload rules:
            <br>&emsp;&emsp;You may upload any content that does not fall under the "NSFW (Not Safe for Work)" category. If found to be in violation, you will receive a one-month restriction. Illegal content, such as pirated content, torrent (magnet) files, child pornography, or unlawfully-obtained content is strongly prohibited. Your account will be deleted and you will receive a site-wide permanent ban.
            <br>&emsp;&emsp;We expect you to use the site responsibly. This means you should only upload what is necessary. Do not upload large amounts of content "because you can." We may restrict your account if we believe you are using OkayuCDN irresposibly.
            <br>&emsp;&emsp;Uploading content and spreading with intention of harm to others or others property is prohibited. If you are found to be doing so, your account will be deleted and you will recieve a site-wide permanent ban.
            <br><br><br>- Content Privacy Policy -
            <br><br>&emsp;&emsp;Assume that your content can be seen by anyone. This does not mean it will be. Your content will not be encrypted and can be seen by okasoft development team. Anyone with the link to your content can see it.
            <br>&emsp;&emsp;If you upload content which you did not mean to upload, contact support [at] okawaffles.com with the link and it will be promptly removed without question. Uploaded content which goes against our Terms of Service can be held against you when evaluating punishment.
            <br>&emsp;&emsp;By uploading your content to our website, you agree that we are allowed to use your content for non-commercial purposes (such as server content stress-testing). If you wish to opt-out of your content being used for these purposes, please email support [at] okawaffles.com.
            <br>&emsp;&emsp;When uploading content to our website, you still hold full responsibly of your content. This means that if your content is illegal, proper authorities may be contacted if necessary. 
            <br><br><br>- Account Privacy Policy -
            <br><br>&emsp;&emsp;Your account info: When you sign up for an account, the data you have given is stored on OkayuCDN. Your data will never be sold to third-parties or revealed to anybody. Your account info is stored purely for safety reasons.
            <br><br><br>
        </h3>

        <h2>Thank you for reading the Terms of Service.</h2>
    </div>

    



    <style>
        @font-face {
            font-family: KFhimajiMOCO;
            src: url("/assets/fonts/GenJyuuGothic.ttf");
        }

        body {
            background-color: #3d3d3d;
            font-family: KFhimajiMOCO;
            margin: 0;
        }

        .nofont {
            font-family: 'Courier New', Courier, monospace;
        }

        .navi-ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: fixed;
            top: 0;
            width: 100%;
        }

        .navi-li-left {
            float: left;
        }
        .navi-li-right {
            float: right;
        }

        .navi-li-left a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }
        .navi-li-right a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        .navi-li a:hover {
            background-color: #111;
        }


        .container {
            padding: 2.5%;
            color: white;
        }

        .title {
            font-size: 86px;
        }
        .subtitle {
            font-size: 48px;
        }
    </style>
</body>
</html>