<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <title>Terms of Service | OkayuCDN</title>

    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>

    <meta content="Terms of Service | OkayuCDN" property="og:title">
    <meta content="Upload files for free" property="og:description">
    <meta content="https://okayu.okawaffles.com/terms" property="og:url">
    <meta content="#9000e3" data-react-helmet="true" name="theme-color">
</head>
<body class="terms-body">
    <%- include('parts/navbar', {active:'none'}) %>

    <div class="terms-container">
        <h1 class="terms-title">Terms of Service</h1>
        <h2 class="terms-subtitle">This page defines what you can and cannot do with our services.</h2>
        <h3 class="terms-subtitle-smaller">Last updated May 1st, 2024 by okawaffles</h3>

        <br><hr class="hrFlyUp"><br>

        <h3 class="terms-terms">
            &emsp;&emsp;When we speak of "we," "us," "our," "brand," we are referring to <strong>CATGIRLS SPACE</strong> as a whole, including all services and child products. When speaking of "OkayuCDN" or "the site," we are referring to the OkayuCDN website and all child services as a whole.
            <br><br>&emsp;&emsp;When using our services, you must abide to this set of rules/regulations outlined here. If you do not, your account is subject to punishment ranging from a temporary ban from our site to a permanent deletion of your account and content, along with an IP-wide ban.
            <br><br><br>- Rules and regulations -
            <br><br>P. Rule-bend policy:
            <br>&emsp;&emsp;The Terms of Service does not outline all use cases and possible violations by a user. These edge cases are up to the specific OkayuCDN instance's admins to decide.
            <br><br>1. Upload rules:
            <br>&emsp;&emsp;As of August 27th, 2022, you may upload content that falls under the NSFW (Not Safe For Work) category. Previous violations have been removed. Illegal content, such as pirated content, torrent (magnet) files, child pornography, or unlawfully-obtained content is strongly prohibited. Your account will be deleted and you will receive a site-wide permanent ban.
            <br>&emsp;&emsp;Along with this, using your account to distribute pirated content, illegal content, malware, or any other sort of restricted content is prohibited and you will recieve a brand-wide ban (this includes <strong>all</strong> CATGIRLS SPACE sites and services, such as Widgets, I Just Want the Weather, catgirl.expert, and catgirls.space). Depending on the severity of the content, your information may also be reported to the necessary authorities.
            <br>&emsp;&emsp;We expect you to use the site responsibly. This means you should only upload what is necessary. Do not upload large amounts of content without reason. We may delete your content and/or restrict your account if we believe you are using OkayuCDN irresposibly.
            <br>&emsp;&emsp;Uploading content and spreading with intention of harm to others or others' property is prohibited. If you are found to be doing so, your account will be deleted and you will recieve a site-wide permanent ban.
            <br>&emsp;&emsp;Do not create multiple accounts to circumvent the upload limit. Your account(s) and all of their contents will be deleted.
            <br><br><br>- Content Privacy Policy -
            <br><br>&emsp;&emsp;Assume that your content can be seen by anyone with a valid link, unless you have set the content to private. Your content will not be encrypted and can be seen by server managers. Anyone with the link to your content can see it.
            <br>&emsp;&emsp;If you upload content which you did not mean to upload, please use the Content Manager to remove it. Uploaded content which goes against our Terms of Service can be held against you when evaluating punishment.
            <br>&emsp;&emsp;By uploading your content to our website, you agree that we are allowed to use your content for non-commercial purposes (such as server content stress-testing). If you wish to opt-out of your content being used for these purposes, please contact your instance's server admin.
            <br>&emsp;&emsp;When uploading content to our website, you still hold full responsibly of your content. This means that if your content is illegal, proper authorities may be contacted if necessary. 
            <br><br><br>- Account Privacy Policy -
            <br><br>&emsp;&emsp;Your account info: When you sign up for an account, the data you have given is stored on OkayuCDN. Your data will never be sold to third-parties or revealed to anybody. Your account info is stored purely for safety reasons.
            <br><br>&emsp;&emsp;Your password is stored salted and encrypted with the argon2 encryption standard. If you have used OkayuCDN previously and have an account which had a password hashed in SHA256, it will be updated upon next successful log-in.
            <br><br><br>
        </h3>

        <h3 class="terms-terms" style="strong { font-size: 1.1em;}">
            <strong>In Short</strong>
            <br><br>&emsp;&emsp;What you <strong>CAN</strong> upload:
            <br><br>&emsp;&emsp;&emsp;&emsp;Files that you would like to share. These can be videos, photos, anything you'd like as long as it doesn't fall under any of the items listed in the "What you CANNOT upload" section.
            <br><br><br>&emsp;&emsp;What you <strong>CANNOT</strong> upload:
            <br><br>&emsp;&emsp;&emsp;&emsp;Files that would be uploaded with the intent to harm or distribute illegal content. This includes malware, child pornography, games, music, and basically anything against United States law or anything you do not have the rights to upload.
            <br>&emsp;&emsp;&emsp;&emsp;Note that the games rule does NOT apply to games you have created, same for music. This also does not apply to game mods or game logs. Just be aware of what you are uploading so you don't upload anything personal.
        </h3>

        <br><br><br>

        <h2 class="terms-footer">Thank you for reading the Terms of Service.</h2>
    </div>
</body>
</html>