<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <title>Welcome to OkayuCDN</title>
</head>
<body>
    <ul class="navi-ul">
        <li class="navi-li-left navi-li"><a href="../home" class="navi-a">Home</a></li>
        <li class="navi-li-left navi-li"><a href="../manage/upload" class="navi-a">Upload</a></li>
        <li class="navi-li-left navi-li"><a href="../manage/content" class="navi-a">Manage</a></li>
        <li class="navi-li-right navi-li"><a href="../ja" class="navi-a">にほんご</a></li>
        <li class="navi-li-right navi-li"><a href="../info" class="navi-a">Info</a></li>
    </ul>

    <div class="container">
        <h1 class="title">Terms of Service</h1>
        <h2 class="subtitle sa">This page defines what you can and cannot do with our services.</h2>
        <h3 class="sb">Last updated May 10th, 2022 by okasoft development team</h3>

        <br><hr class="hrFlyUp"><br>

        <h3 class="nofont terms">
            &emsp;&emsp;When we speak of "we," "us," "our," and "okasoft," we are referring to okasoft development team as a whole, including all services and child products. When speaking of "OkayuCDN," we are referring to OkayuCDN as a whole, including it and its child services (such as OCDN-FYTDLR).
            <br>
            <br>
            &emsp;&emsp;When using our services, you must abide to this set of rules/regulations outlined here. If you do not, your account is subject to punishment ranging from a temporary ban from our site to a permanent deletion of your account and content, along with an IP-wide ban.
            <br>
            <br>
            <br>
             - Rules and regulations -
            <br>
            <br>
            Rule-bend policy:<br>&emsp;&emsp;Even though our Terms of Service does not outline all cases, this does *not* make everything legal. If okasoft staff find you to be in violation of our Terms of Service in one way or another, you will be punished accordingly.
            <br><br>
            Upload rules:<br>&emsp;&emsp;You may upload any content that does not fall under the "NSFW (Not Safe for Work)" category. If found to be in violation, you will receive a one-month restriction. Illegal content, such as pirated content, child pornography, or unlawfully-obtained content is strongly prohibited. Your account will be deleted and you will receive a site-wide permanent ban.
        </h3>
    </div>

    



    <style>
        @font-face {
            font-family: KFhimajiMOCO;
            src: url("https://okayu.okawaffles.com/content/2.otf");
        }

        body {
            background-color: #3d3d3d;
            font-family: KFhimajiMOCO;
            margin: 0;
            
        }

        .nofont {
            font-family: 'Courier New', Courier, monospace;
        }

        .navi-ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        .navi-li-left {
            float: left;
        }
        .navi-li-right {
            float: right;
        }

        .navi-li-left a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }
        .navi-li-right a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        .navi-li a:hover {
            background-color: #111;
        }


        .container {
            padding: 2.5%;
            color: white;
        }

        .title {
            font-size: 86px;
        }
        .subtitle {
            font-size: 48px;
        }
    </style>
</body>
</html>