<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OkayuCDN Test Menu</title>
</head>
<body>
    <h3>Errors</h3>
    <button onclick="window.location = '/test?invokeError=!400'">Invoke Bad Request</button>
    <button onclick="window.location = '/test?invokeError=500'">Preview Internal Server Error</button>
    <hr>
    <h3>Various</h3>
    <button onclick="window.location = '/home?af=true'">Preview "April Fools" Homepage</button>
    <hr>
    <h3>Other</h3>
    <!-- This setting will disable anything that might not fall into "the perfect beliefs" of some families -->
    <button onclick="document.cookie = 'logo-unsafe-mode=true'">Disable unsafe mode</button>
    <button onclick="document.cookie = 'logo-unsafe-mode=false'">Enable unsafe mode</button>
    <hr>
    <h3>Experiments (only one may be active at a time)</h3>
    <button onclick="document.cookie = 'okayu-experiment=mybox-visual-refresh'; location = '/mybox'">Enable mybox-visual-refresh experiment</button>
    <button onclick="document.cookie = 'okayu-experiment=use-opendyslexic'; location = '/home'">Enable use-opendyslexic experiment</button>
    <button onclick="document.cookie = 'okayu-experiment=use-alternate'; location = '/home'">Enable use-alternate experiment</button>
    <button onclick="document.cookie = 'okayu-experiment=none'; location = '/home'">Disable active experiment</button>
    <hr>
</body>
</html>