<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <title>Upload | OkayuCDN</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <!-- <script src="/assets/scripts/language.js"></script> -->

    <meta content="Upload | OkayuCDN" property="og:title">
    <meta content="Upload files for free" property="og:description">
    <meta content="https://okayu.okawaffles.com/manage/upload" property="og:url">
    <meta content="#9000e3" data-react-helmet="true" name="theme-color">
    <script src="/assets/scripts/upload_v6.js"></script>
</head>

<body class="default-bg scrollable">
    <%- include('parts/navbar-logged-in', {active:'upload'}) %>
   
    <div id="banner-hider" style="display: none;">
        <ul class="banner-ul">
            <p id="banner-contents">Hey! You seem to be a bug-tester! Thanks for your help! We've upped your storage as a thank-you!</p>
        </ul>
    </div>
    <div id="banner-ua-notice" style="display: none;">
        <ul class="banner-ul red">
            <p id="ua-warning-contents">Warning: useragent</p>
        </ul>
    </div>

    <div class="upload-pane">
        <div class="uploader">
            <h1 id="title">Upload to OkayuCDN</h1>
            <div id="newStorageAmount">
                <div id="fill"></div>
                <div class="texts">
                    <p class="left" id="used">0B</p>
                    <p class="right" id="total">1024GB</p>
                </div>
            </div>
                
            <div id="hider" style="display: none">
                <div class="uploadfile" id="uploadInterface" ondragover="FPDrag(event);" ondrop="FPDrop(event);">
                    <div class="container-upload-first" id="container-upload-first">
                        <input type="file" class="chooseFiles" id="uploaded" required />
                        <i class="fa-solid fa-arrow-up-from-bracket"></i><br><br>
                        <p id="filename">Click or drag and drop to upload</p>
                        <p id="approxTime"></p>
                    </div>
                    <div class="container-upload-second" id="container-upload-second">
                        <p>Uploading...</p>
                        <div class="up_progressupload" id="progressUpload"></div><br>
                    </div>
                </div><br>

                <input type="text" class="filename input_text" name="filename" required placeholder="Name Your File" pattern="[A-Za-z0-9_]{25}[^ ]"
                    style="width: 250px;" id="filename_input" /><br>
                <p class="upload_error">Error Placeholder</p>
                <div style="display: flex; justify-content: center;" id="div_private">
                    <input type="checkbox" class="private_toggle" id="private_toggle" style="margin: 0em 1em" />
                    <p>Upload this file as private</p>
                </div>
                <p id="filename-error" class="text-hidden">You may only use alphanumeric characters and underscores in your file names, as well as only up to 25 characters.</p>
                <div class="wrap up_wrap">
                    <button class="go" id="uploadButton">Upload</button>
                </div>
            </div>
            <div class="upload-progress" id="div_progress">
                <h1>Uploading file...</h1>
                <h3 id="processing">Please wait while the server processes your file...</h3>
                <div class="progressBarContainer">
                    <div class="progressBar" id="progress"></div>
                </div>
            </div>
            <br>
        </div>
    </div>

    <h3 class="version"><label id="premium-tag">Extended Storage</label><label id="bugtest-tag">Bugtester</label></h3><br>
</body>

</html>