<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <title>Upload to OkayuCDN</title>
    <link rel="stylesheet" href="/assets/styles/uploadStyles.css">

    <meta content="Upload | OkayuCDN" property="og:title">
    <meta content="Free file uploading for all." property="og:description">
    <meta content="https://okayu.okawaffles.com/manage/upload" property="og:url">
    <meta content="#9000e3" data-react-helmet="true" name="theme-color">
</head>

<body>
    <ul class="navi-ul">
        <li class="navi-li-left navi-li"><a href="../home" class="navi-a">Home</a></li>
        <li class="navi-li-left navi-li"><a href="../manage/upload" class="navi-a">Upload</a></li>
        <li class="navi-li-left navi-li"><a href="../manage/content" class="navi-a">Manage</a></li>
        <li class="navi-li-right navi-li"><a href="../logout" class="navi-a">Log Out</a></li>
    </ul>
    <br>
    <!--<div class="pad upload-pane">
        <h2 class="title">Welcome to OkayuCDN.</h2>
        <h4 class="method">Method: POST (You -> Endpoint -> OkayuCDN)</h4>
        <form class="uploadForm" action="./cdnUpload" method="POST" enctype="multipart/form-data">
            <input type="file" id="uploaded" name="uploaded" required />
            <input type="text" name="filename" required placeholder="Name Your File" pattern="[a-zA-Z0-9_-]{3-50}" style="width: 250px; float: right;" />
            <p style="text-align: center;">Non-alphanumeric characters are not allowed in filenames.</p>
            <input type="submit" style="position: absolute; left: 50%; transform: translateX(-50%)"/>
        </form>
    </div>-->

    <div class="pad upload-pane">
        <div class="uploader">
            <span>Upload to OkayuCDN (beta)</span>
            <p>This is currently in a very early state of development, bugs may arise!</p>
            <input type="button" class="chooseFiles" id="uploaded" value="Select file" />
            <input type="text" name="filename" required placeholder="Name Your File" pattern="[a-zA-Z0-9_-]{50}" style="width: 250px; float: left;" id="filename" />
            <button id="uploadBtn">Go</button>
            <br>
            <div class="progressUpload"></div><br>
        </div>
    </div>
    <script src="/assets/scripts/uploadscript.js"></script>
    <script>assignUserName("<%= USERNAME %>");</script>

    <h3 class="version">OkayuCDN v4.0.0</h3>

    <style>
        
    </style>
</body>

</html>