<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3456757610882390"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <title>Manage Your OkayuCDN</title>

    <meta content="Manage Your Content | OkayuCDN" property="og:title">
    <meta content="Delete a file from your account" property="og:description">
    <meta content="https://okayu.okawaffles.com/manage/content" property="og:url">
    <meta content="#9000e3" data-react-helmet="true" name="theme-color">
</head>

<body>
    <ul class="navi-ul">
        <li class="navi-li-left navi-li"><a href="/home" class="navi-a">Home</a></li>
        <li class="navi-li-left navi-li"><a href="/manage/upload" class="navi-a">Upload</a></li>
        <li class="navi-li-left navi-li"><a href="/manage/content" class="navi-a">Manage</a></li>
        <li class="navi-li-right navi-li"><a href="/logout" class="navi-a">Log Out</a></li>
    </ul>
    <br>
    <div class="pad upload-pane">
        <h2 class="title">Manage your OkayuCDN.</h2>
        <h4 class="method">Type the file name to delete your file.</h4><br>
        <form class="uploadForm" action="./delFile" method="POST">
            <div class="partone">
                <input type="text" name="filename" class="filename" required
                    placeholder="Name of your file WITH EXTENSION!" style="width: 100%;" />
                <p class="warn">Deleted files cannot be recovered, even by staff! Be sure you have the right file!</p>
                <input type="submit" value="Delete" class="go" /><br><br>
            </div>
        </form>
        <hr style="width: 100%">
        <h2>Your Content:</h2><br>
        <div class="line" id="loader" style="--primary: white;"></div>
        <div id="contentList" style="display:none; width: 100%; background-color: #111;">

        </div>
    </div>

    <script src="/assets/scripts/managescript.js"></script>
    <script>setUser("<%= USERNAME %>")</script>

    <style>
        /**
  * Line
  *
  * @author jh3y - jheytompkins.com
*/
        @-webkit-keyframes line {
            from {
                background-position: -60px 0;
            }

            to {
                background-position: 60px 0;
            }
        }

        @keyframes line {
            from {
                background-position: -60px 0;
            }

            to {
                background-position: 60px 0;
            }
        }

        .line:before {
            -webkit-animation: line .75s infinite alternate ease-in-out;
            animation: line .75s infinite alternate ease-in-out;
            background: -webkit-gradient(linear, left top, right top, from(var(--primary)), to(var(--primary)));
            background: linear-gradient(90deg, var(--primary), var(--primary));
            background-repeat: no-repeat;
            background-size: 60px 20px;
            content: '';
            display: block;
            height: 20px;
            width: 60px;
        }

        @font-face {
            font-family: KFhimajiMOCO;
            src: url("/assets/fonts/GenJyuuGothic.ttf");
        }

        body {
            background-color: #1c273b;
            font-family: KFhimajiMOCO;
            margin: 0;
        }



        .navi-ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #141924;
        }

        .navi-li-left {
            float: left;
        }

        .navi-li-right {
            float: right;
        }

        .navi-li-left a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }

        .navi-li-right a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        .navi-li a:hover {
            background-color: #111;
        }

        .upload-pane {
            display: grid;
            place-items: center;
            /* background-color: #141924; */
            border-radius: 20px;
            padding: 3% 3%;
            color: white;
            width: fit-content;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .wrap {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .go {
            margin-top: 10px;
            width: 300px;
            height: 45px;
            font-family: KFhimajiMOCO;
            font-size: 16px;
            letter-spacing: 2.5px;
            font-weight: 500;
            color: #000;
            background-color: #fff;
            border: none;
            border-radius: 10px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
        }

        .go:hover {
            background-color: #ff0000;
            box-shadow: 0px 15px 20px rgba(107, 107, 107, 0.4);
            color: #fff;
            transform: translateY(-7px);
        }

        input[type="text"] {
            margin: 5px;
            width: 300px;
            height: 30px;
            border-radius: 10px;
            background-color: white;
            border: none;
            color: black;
            font-family: KFhimajiMOCO;
            font-weight: 500;
            text-align: center;
        }

        @media screen and (max-width: 600px) {
            .navi-a {
                font-size: 12px;
            }

            .upload-pane {
                width: 90%;
                padding: 10px;
                margin: 10px;
                justify-content: center;
            }

            .uploadForm {
                width: 75%;
            }

            .filename {
                width: 80%;
            }
        }
    </style>
</body>

</html>