<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <title>Upload to OkayuCDN</title>

    <meta content="Upload | OkayuCDN" property="og:title">
    <meta content="Upload files for free" property="og:description">
    <meta content="https://okayu.okawaffles.com/manage/upload" property="og:url">
    <meta content="#9000e3" data-react-helmet="true" name="theme-color">
</head>

<body>
    <ul class="navi-ul">
        <li class="navi-li-left navi-li"><a href="../home" class="navi-a" id="nav_home">Home</a></li>
        <li class="navi-li-left navi-li"><a href="../manage/upload" class="navi-a" id="nav_upload">Upload</a></li>
        <li class="navi-li-left navi-li"><a href="../manage/content" class="navi-a" id="nav_manage">Manage</a></li>
        <li class="navi-li-right navi-li"><a href="../logout" class="navi-a" id="nav_logout">Log Out</a></li>
    </ul>
    <br>
    <div class="pad upload-pane">
        <h2 class="title">Thank you for using OkayuCDN.</h2>
        <h4 class="method">Your file has been uploaded! View it here:<br>
            <%=l%>
        </h4>
        <br>
        <!-- <p style="color: red;">If your file is large (like a long video), it may be too large for the server to process,
            and such, you will get a 404 error.</p> -->
    </div>

    <h3 class="version">OkayuCDN v5</h3>

    <style>
        @font-face {
            font-family: KFhimajiMOCO;
            src: url("/assets/fonts/GenJyuuGothic.ttf");
        }

        body {
            background-color: #1c273b;
            font-family: KFhimajiMOCO;
            margin: 0;
        }



        .navi-ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #141924;
        }

        .navi-li-left {
            float: left;
        }

        .navi-li-right {
            float: right;
        }

        .navi-li-left a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }

        .navi-li-right a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        .navi-li a:hover {
            background-color: #111;
        }

        .upload-pane {
            display: grid;
            place-items: center;
            /* background-color: #141924; */
            border-radius: 20px;
            padding: 3% 3%;
            color: white;
            width: fit-content;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }

        .version {
            position: fixed;
            bottom: -10px;
            right: 10px;
            color: white;
        }

        @media screen and (max-width: 600px) {
            .navi-a {
                font-size: 12px;
            }
        }
    </style>
</body>

</html>