/*
    do not support mobile devices at the moment.
    tbd if I will bother doing mobile device support.
*/

@font-face {
    font-family: GenJyuuGothic;
    src: url("/assets/fonts/GenJyuuGothic.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: GenJyuuGothic;
}

body {
    background-color: #24252A;
    overflow: hidden;
}
.view_body,
.mybox_body {
    overflow: scroll;
}

/* navbar desktop */

li,
a,
button {
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px .5%;
    background-color: #1d1e22;
}

.logo {
    background-color: #1d1e22;
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    padding: 25px 25px;
}

.nav_links li a:hover {
    /*color: #0088a9;*/
    box-shadow: inset 0 -3px 0 #0088a983;
    background-color: #25262c93;
}

@media screen and (max-width: 714px) {
    header {
        display: block;
    }
    .nav_links li a {
        padding: 10px;
    }
}

.active {
    box-shadow: inset 0 -3px 0 #0087a9;
    background-color: #25262c;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.btn-red {
    background-color: rgba(150, 0, 0, 1);
}
.btn-red:hover {
    background-color: rgba(150, 0, 0, 0.8);
}

/* home */

@keyframes titleToTop {
    0% {
        transform: translateY(1200%);
        opacity: 0%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes subToTop {
    0% {
        transform: translateY(2400%);
        opacity: 0%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

.title {
    margin: 20px 50px;
    font-size: 86px;
    transform: translateY(2400%);
    animation: titleToTop 1.5s ease;
    animation-fill-mode: forwards;
    color: white;
}

.subtitle {
    margin: 20px 50px;
    font-size: 48px;
    color: white;
}

.sa {
    transform: translateY(2400%);
    animation: subToTop 1.5s ease;
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}

.sb {
    transform: translateY(2400%);
    animation: subToTop 1.5s ease;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
}

.chara-center {
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);

    animation: 1s charaFly ease;
    animation-fill-mode: forwards;
    animation-delay: 1250ms;
}

@keyframes charaFly {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 0;
    }
}

@keyframes charaFlyMobile {
    0% {
        transform: translateY(400%);
    }

    100% {
        transform: translateY(100%);
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 43px;
    }

    .subtitle {
        font-size: 24px;
    }

    .navi-a {
        font-size: 12px;
    }

    .chara-center {
        width: 85%;
    }
}

.v {
    position: fixed;
    bottom: 0px;
    right: 10px;
    color: white;
}

/* login */

.login_title {
    padding: 25px 0 15px;
    color: white;
    font-size: 30pt;
    margin: auto;
    text-align: center;
}

.login_subtitle {
    color: white;
    font-size: 15pt;
    text-align: center;
}

.login_form {
    display: grid;
    place-items: center;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.go {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 18px;
    width: 250px;
}

.go:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.noacc {
    margin-top:15px;
    background-color: rgba(150, 0, 0, 1);
}

.noacc:hover {
    background-color: rgba(150, 0, 0, 0.8);
}

.username {
    margin: 20px 0 15px;
}

.password {
    margin: 0 0 15px;
}

.username,
.password {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    border: none;
    color: black;
    font-family: GenJyuuGothic;
    font-weight: 500;
    text-align: center;
}

.login_error {
    color: red;
    display: none;
    font-size: medium;
    margin-bottom: 10px;
}
.error_2fa {
    color: red;
    display: none;
    font-size: medium;
    margin-bottom: 10px;
    text-align: center;
}
.tfa {
    display: none;
}
.code {
    width: 100%;
}

/* signup */

.input_text {
    margin: 0 0 10px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    border: none;
    color: black;
    font-family: GenJyuuGothic;
    font-weight: 500;
    text-align: center;
}

.p {
    color: white;
    margin-bottom: 7px;
}

.acc {
    font-size: 16px;
    margin-top: 15px;
}


/* my box */

.mybox_form_pane {
    display: grid;
    text-align: center;
}

.mybox_title {
    color: white;
    font-size: 52px;
}

.mybox_subtitle {
    color: white;
    font-size: 28px;
    padding-bottom: 10px;
}

.mb_input {
    width: 750px;
}

.mybox_all p {
    margin-bottom: 15px;
}

.mybox_contentH2 {
    margin: 10px;
    color: white;
}

.mybox_noContent {
    display: none;
    color: white;
}

.content_container {
    width: 100%;
}

.content_items {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 18px;
    width: 50%;
    padding: 0px;
    border-radius: 12px;
    flex-direction: row;
    margin-left: 25%;
    margin-bottom: 7px;
}
.delete {
    margin-left: auto;
    order: 2;
}

@media screen and (max-width: 600px) {
    .content_items {
        width: 100%;
        margin-left: auto;
    }
}

.loader_container {
    padding-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#loader {
    text-align: center;
    color: #ffffff;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em,
            0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
            0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em,
            -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
            -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
            -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
            -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
            -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
            -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
            0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}


/* Info */
.info_body {
    overflow: scroll;
    scroll-behavior: smooth;
}
.section_header {
    color: white;
    font-size: 48px;
}

.hr-info {
    margin-top: 15px;
    margin-bottom: 15px;
}

.info-main {
    text-align: center;
    color: white;
}

.info_item,
.stats_item {
    font-size: 2em;
}

@media screen and (max-width: 600px) {
    .section_header {
        font-size: 2em;
    }
    
    .info_item, .stats_item {
        font-size: 1.5em;
    }
}

/* File Info */
.view_info {
    
    width: fit-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.view_preview {
    display: flex;
    align-content: center;
    color: white;
    padding: 25px;
}

/* error page */
.error_header {
    padding-top: 2em;
    text-align: center;
    color: red;
    font-size: 2em;
}
.error {
    text-align: center;
    color: red;
    font-size: 1.5em;
}

/* upload page */
/* i rlly dont wanna redo this so im just reusing old styles */
.up_progressupload {
	height: 20px;
	margin-top: 25px;
}
.up_progress {
	background-color: #45ffbb;
	width: 0%;
	height: 20px;
	border-radius: 4px;
}
.progressupload {
	height: 20px;
	margin-top: 25px;
}
.uploader {
	text-align: center;
    color: white;
}

.upload_error {
    color: red;
    text-align: center;
    display: none;
}

.banner-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: teal;
	color: white;
	text-align: center;
}

#premium-tag {
	color: white;
	background-color: #ffbb3c;
	padding: 5px 10px;
	border-radius: 16px;
	font-size: 16px;
	margin: 5px;
	display: none;
}
#bugtest-tag {
	color: white;
	background-color: teal;
	padding: 5px 10px;
	border-radius: 16px;
	font-size: 16px;
	margin: 5px;
	display: none;
}
.upload-pane {
	display: grid;
	place-items: center;
	/* background-color: #141924; */
	border-radius: 20px;
	padding: 3% 3%;
	color: white;
	width: fit-content;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.version {
	position: fixed;
	bottom: 7px;
	right: 10px;
	color: white;
}
.up_wrap {
    margin: 10px;
}

/* Success page */
.sc {
    margin-top: 25px;
    width: 100%;
    color: white;
    display: grid;
    place-items: center;
    text-align: center;
}
.sc_share {
    margin-top: 50px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 18px;
    width: 250px;
}
.sc_view {
    margin-top: 10px;
    padding: 9px 25px;
    background-color: rgb(0, 169, 113);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 18px;
    width: 250px;
}
.sc_view:hover {
    background-color: rgb(0, 169, 113, 0.8);
}

@media screen and (max-width: 600px) {
    .sc {
        font-size: 0.75em;
        width: 95%;
    }
}

/* extras */
.red {
    background-color: red;
}

.gdpr_regulation_cookie_banner {
    background-color: #0087a9;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gdpr_regulation_cookie_banner p {
    color: white;
    text-align: center;
}
.gdpr_button {
    border-radius: 10px;
    border: 2px solid white;
    padding: 4px 10px;
    margin-left: 15px;
}
.gdpr_button:hover {
    background-color: white;
    transition: 50ms ease;
    color: grey;
}


/* 2fa setup */
.tfa_h1 {
    color: white;
    margin-top: 15px;
}
.tfa_h3 {
    color: white;
}
.center {
    text-align: center;
}

/* watch mp4 */
#videoPlayer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}