@font-face {
    font-family: GenJyuuGothic;
    src: url("/assets/fonts/GenJyuuGothic.ttf");
}

@font-face {
    font-family: RoundedMplusMedium;
    src: url("/assets/fonts/RoundedMplusMedium.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: GenJyuuGothic;

    --okayucdn-blue: #0087a9;
    --okayucdn-blue-hover: #0088a983;
    --okayucdn-green: #00a987;
    --okayucdn-green-hover: #00a98783;
    --okayucdn-purple: #8200a9;
    --okayucdn-purple-hover: #8200a983;
    --okayucdn-orange: rgb(207, 113, 58);
    --okayucdn-orange-hover: rgb(207, 113, 58, 0.9);
    --progress-previous-green: #45ffbb;
    --progress-new-green: var(--okayucdn-green);
    
    --default-background: #24252A;
    --default-background-compliment: #111214;
    --default-primary: var(--okayucdn-blue);
    --default-primary-hover: var(--okayucdn-blue-hover);
    --default-navbar: #1d1e22;
    --default-navbar-hover: #25262c93;
    --default-navbar-active: #383a4693;
    --default-text: #edf0f1;
    --default-text-opposite: #000;
    --default-button: var(--okayucdn-blue);
    --default-button-hover: var(--okayucdn-blue-hover);
    --default-button-red: rgb(153, 30, 30);
    --default-button-red-hover: rgba(150, 30, 30, 0.8);
    --default-mybox-item: #1a1f25;
    --default-mybox-item-alternate: #121518;

    --light-background: #ebebeb;
    --light-background-compliment: #d3d3d3;
    --light-primary: var(--okayucdn-blue);
    --light-primary-hover: var(--okayucdn-blue-hover);
    --light-navbar: #edf0f1;
    --light-navbar-hover: #edf0f193;
    --light-text: #000;
    --light-text-opposite: #edf0f1;
    --light-button: var(--okayucdn-blue);
    --light-button-hover: var(--okayucdn-blue-hover);
    --light-button-red: rgba(150, 0, 0, 1);
    --light-button-red-hover: rgba(150, 0, 0, 0.8);
    --light-mybox-item: #c7c7c7;
    --light-mybox-item-alternate: #adb6be;

    --highcontrast-background: #000;
    --highcontrast-primary: #00F;
    --highcontrast-primary-hover: #FF0;
    --highcontrast-navbar: #000;
    --highcontrast-navbar-hover: #00F;
    --highcontrast-text-light: #FFF;
    --highcontrast-button: #00F;
    --highcontrast-button-hover: #00F;
    --highcontrast-button-red: #F00;
    --highcontrast-button-red-hover: #F00;
    --highcontrast-mybox-item: #ea00ff;
    --highcontrast-mybox-item-alt: #00b7ff;

    --active-background: var(--default-background);
    --active-background-compliment: var(--default-background-compliment);
    --active-primary: var(--default-primary);
    --active-primary-hover: var(--default-primary-hover);
    --active-navbar: var(--default-navbar);
    --active-navbar-hover: var(--default-navbar-hover);
    --active-text: var(--default-text);
    --active-text-opposite: var(--default-text-opposite);
    --active-button: var(--default-button);
    --active-button-hover:var(--default-button-hover);
    --active-button-red: var(--default-button-red);
    --active-button-red-hover: var(--default-button-red-hover);
    --active-mybox-item: var(--default-mybox-item);
    --active-mybox-item-alternate: var(--default-mybox-item-alternate);
    --active-navbar-active: var(--default-navbar-active);
}

@media (prefers-color-scheme: light) {
    * {
        --active-background: var(--light-background);
        --active-background-compliment: var(--light-background-compliment);
        --active-primary: var(--light-primary);
        --active-primary-hover: var(--light-primary-hover);
        --active-navbar: var(--light-navbar);
        --active-navbar-hover: var(--light-navbar-hover);
        --active-text: var(--light-text);
        --active-text-opposite: var(--light-text-opposite);
        --active-button: var(--light-button);
        --active-button-hover:var(--light-button-hover);
        --active-button-red: var(--light-button-red);
        --active-button-red-hover: var(--light-button-red-hover);
        --active-mybox-item: var(--light-mybox-item);
        --active-mybox-item-alternate: var(--light-mybox-item-alternate);
    }
    
    header {
        border-bottom: 2px solid #00000033; 
    }
}

@media (prefers-contrast: more) {
    * {
        --active-background: var(--highcontrast-background);
        --active-primary: var(--highcontrast-primary);
        --active-primary-hover: var(--highcontrast-primary-hover);
        --active-navbar: var(--highcontrast-navbar);
        --active-navbar-hover: var(--highcontrast-navbar-hover);
        --active-text: var(--highcontrast-text-light);
        --active-button: var(--highcontrast-button);
        --active-button-hover:var(--highcontrast-button-hover);
        --active-button-red: var(--highcontrast-button-red);
        --active-button-red-hover: var(--highcontrast-button-red-hover);
        --active-mybox-item: var(--highcontrast-mybox-item);
        --active-mybox-item-alternate: var(--highcontrast-mybox-item-alt);
        --okayucdn-green: #000000;
        --okayucdn-orange: #ffbb00;
    }

    .nav_links li a {
        border: 3px dotted turquoise;
    }
}

body {
    background-color: var(--active-background);
    overflow: hidden;
}

.view_body,
.mybox_body,
.info_body {
    /* chromium is very picky about this: */
    overflow: auto;
}

/* global */
.follow_text {
    color: var(--active-text) !important;
}

/* navbar desktop */

li,
a,
button {
    font-size: 18px;
    color: var(--active-text);
    text-decoration: none;
}

header:not(.nav-ignore) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px .5rem;
    background-color: var(--active-navbar);
}

.logo {
    background-color: var(--active-navbar);
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li:not(.mobile-menu) {
    display: inline-block;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    padding: 25px 25px;
}

.nav_links li a:hover {
    box-shadow: inset 0 -3px 0 var(--active-primary-hover);
    background-color: var(--active-navbar-hover);
}

.active {
    box-shadow: inset 0 -3px 0 var(--active-primary);
    background-color: var(--active-navbar-hover);
}

/* navbar mobile */

.mobile-menu, .mobile-nav-links {
    display: none;
}

@media screen and (max-width: 900px) {
    .nav_links li:not(.mobile-menu) {
        display: none;
    }
    .mobile-menu {
        display: inline-block;
    }
    .mobile-nav-links {
        position: absolute;
        z-index: 6;
        width: 100%;
        text-align: center;
        background-color: #1d1e22;
    }
    .mobile-nav-links li {
        padding: 4px;
        margin: 0px 0 8px;
        width: 100%;
    }
    .mobile-nav-links li a {
        width: 100%;
    }
    .mobile-nav-links .active {
        background-color: var(--active-primary-hover);
    }
}


/* end navbar */


button {
    padding: 9px 25px;
    background-color: var(--active-primary);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: var(--active-primary-hover);
}

.btn-red {
    background-color: var(--active-button-red) !important;
    color: var(--active-text);
}
.btn-red:hover {
    background-color: var(--active-button-red-hover) !important;
}
.btn-orange {
    background-color: var(--okayucdn-orange) !important;
    color: var(--active-text);
}
.btn-orange:hover {
    background-color: var(--okayucdn-orange-hover) !important;
}

/* home */

@keyframes titleToTop {
    0% {
        transform: translateY(1200%);
        opacity: 0%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes subToTop {
    0% {
        transform: translateY(2400%);
        opacity: 0%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

#announcement {
    display: none;
    width: 100%;
    text-align: center;
    color: white;
    background-color: var(--active-primary);
    font-size: 1.3em;
}
#announcement a {
    font-size: 1em;
    text-decoration: underline;
}

.title {
    margin: 20px 50px;
    font-size: 86px;
    transform: translateY(2400%);
    animation: titleToTop 1.5s ease;
    animation-fill-mode: forwards;
    color: var(--active-text);
}


.subtitle {
    margin: 20px 50px;
    font-size: 48px;
    color: var(--active-text);
}

.sa {
    transform: translateY(2400%);
    animation: subToTop 1.5s ease;
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}

.sb {
    transform: translateY(2400%);
    animation: subToTop 1.5s ease;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
}

.chara-center {
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);

    animation: 1s charaFly ease;
    animation-fill-mode: forwards;
    animation-delay: 1250ms;
}

@keyframes charaFly {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 0;
    }
}

@keyframes charaFlyMobile {
    0% {
        transform: translateY(400%);
    }

    100% {
        transform: translateY(100%);
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 43px;
    }

    .subtitle {
        font-size: 24px;
    }

    .navi-a {
        font-size: 12px;
    }

    .chara-center {
        width: 85%;
    }
}

.v {
    position: fixed;
    bottom: 0px;
    right: 10px;
    color: var(--active-text);
}

/* login */

/* new login page! */
.okayu-login {
    margin-top: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.okayu-login .panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--active-navbar);
    width: 25%;
    height: 35rem;
    border-radius: 3em;
    border: 2px solid var(--active-primary-hover);
}

.okayu-login .panel .top {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    flex-wrap: wrap;
    color: var(--active-text);
    text-align: center;
    z-index: 5;
}
.okayu-login .panel .top h1 {
    color: var(--active-text);
    font-size: 2.5em;
}
.okayu-login .panel .top .twofactor-inputs {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.okayu-login .panel .top .inputs input, .okayu-login .panel .top .twofactor-inputs input {
    width: 90%;
    text-align: center;
    font-size: 24px;
    border-radius: 1em;
    padding: .5em;
    border: 1px solid var(--active-text);
    margin: .5em;
    color: var(--active-text);
    background-color: var(--active-background-compliment);
}
.okayu-login .panel .bottom {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-content: end;
    flex-wrap: wrap;
    padding: 1em;
    z-index: 1;
}

.okayu-login .panel .bottom .login-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .keeplogin {
        color: var(--active-text);
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 1.25em;
        margin: .5em;

        input {
            width: 1.5em;
            margin: 0.5em;
        }
    }
}

.login-options .passkey {
    width: 4em;
    margin-right: 1em;
    overflow: hidden;
}

.okayu-login .panel .bottom .error {
    visibility: hidden;
    font-size: 1em;
    margin-bottom: 8px;
    width: 100%;
}

.okayu-login .panel .password {
    margin-bottom: 2em;
}

.okayu-login .separator {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-left: 30%;
    margin-right: 30%;
    color: var(--active-primary-hover);
    font-size: 1.5em;
    margin-top: .5em;
    margin-bottom: .5em;
}

@media screen and (max-width: 1700px) {
    .okayu-login .panel {
        width: 28rem;
    }
}

@media screen and (max-width: 600px) {
    .okayu-login .separator {
        width: 90%;
        margin: .5em 0;
    }
}

.okayu-login .separator::before, .okayu-login .separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid var(--active-primary-hover);
}
.okayu-login .separator:not(:empty)::before {
    margin-right: .25em;
}
.okayu-login .separator:not(:empty)::after {
    margin-left: .25em;
}

@media screen and (max-width: 600px) {
    .okayu-login {
        margin-top: 1em;
    }
    .okayu-login .panel {
        border: none;
        background-color: var(--active-background);
        width: 95%;
        height: 30rem;
        padding-bottom: 0;
    }
    .okayu-login .panel .top {
        padding: 0;
    }
    .okayu-login .panel .bottom .error {
        font-size: 1em;
    }
    .okayu-login .panel .login-options {
        width: 100%;
    }
    .okayu-login .panel .top .inputs p {
        display: none;
    }
    .okayu-login .panel .bottom .login-options .go {
        width: 100%;
        margin-bottom: 0em;
    }
    .okayu-login .noacc {
        position: fixed;
        bottom: 1rem;
    }
    .okayu-login .panel .bottom .login-options #passkey {
        display: none;
    }
    .okayu-login .separator { 
        display: none;
    }
}

@keyframes bad-login {
    0% {
        margin-left: 0;
        margin-right: 0;
        background-color: var(--active-button-red);
    }
    16.5% {
        margin-left: -1em;
        margin-right: 1em;
    }
    33% {
        margin-left: 1em;
        margin-right: -1em;
    }
    49.5% {
        margin-left: -1em;
        margin-right: 1em;
    }
    66% {
        margin-left: 1em;
        margin-right: -1em;
    }
    100% {
        margin-left: 0;
        margin-right: 0;
        background-color: var(--active-background-compliment);
    }
}
@keyframes button-incorrect {
    0% {
        background-color: var(--active-button-red);
    }
    75% {
        background-color: var(--active-button-red);
    }
    100% {
        background-color: var(--active-button);
    }
}

.go, .big-button {
    padding: 9px 25px;
    background-color: var(--active-button);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 20px;
    width: 15em;
    height: 3em;
}

.go:hover, .big-button:hover {
    background-color: var(--active-button-hover);
}

.go:disabled {
    opacity: 25%;
}
.go:disabled:hover {
    background-color: var(--active-button);
    cursor: not-allowed;
}

span.big-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* signup */

.input_text {
    margin: 0 0 10px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    border: none;
    color: black;
    font-family: GenJyuuGothic;
    font-weight: 500;
    text-align: center;
    z-index: 5;
}

.input-error {
    color: var(--active-button-red);
    text-align: center;
}

@media screen and (max-width: 1700px) {
    .signup-panel {
        width: 28rem;
    }
}

@media screen and (max-width: 600px) {
    /* just hide the panel on mobile cuz it looks like ass */
    .signup-panel {
        height: 35rem !important;
        background-color: var(--active-background) !important;
        border: none !important;
    }
}


/* my box */

.mybox_form_pane {
    display: grid;
    text-align: center;
}
.mybox_form_pane #newStorageAmount {
    justify-self: center;
}

.mybox_title {
    color: var(--active-text);
    font-size: 2.5rem;
    margin: .5rem;
}

.mybox_all p {
    margin-bottom: 15px;
}
.mybox_body h3 {
    color: var(--active-text);
}
.mybox_form_pane select {
    width: 200px;
    text-align: center;
}

.mybox_contentH2 {
    margin: 10px;
    color: var(--active-text);
}

.mybox_noContent {
    display: none;
    color: var(--active-text);
}

.content_container {
    width: 100%;
}

.content_items {
    transition: display 0.3s ease;
}

.content_items .top {
    width: 100%;
    display: flex;
}
.content_items .top p {
    font-size: 1em;
    margin-left: 0.5em;
}
.content_items .top .left {
    margin-left: 0.25em;
}
.content_items .top .right {
    justify-content: right;
}
.content_items .top .right, .content_items .top .left {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.content_items .bottom {
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    display: none;
    transition: display 0.3s ease;
}

.mobile {
    display: none;
}

.dropdown {
    width: 10%;
}
.okayu-green {
    background-color: var(--okayucdn-green);
}
.okayu-green:hover {
    background-color: var(--okayucdn-green-hover);
}

.content_items button {
    width: 24%;
    color: white;
}

.content_items {
    display: flex;
    justify-content: space-between;
    color: var(--active-text);
    font-size: 18px;
    width: 50%;
    padding: 0px;
    border-radius: 16px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 25%;
    margin-bottom: 7px;
    background-color: var(--active-mybox-item);
    padding: 6px;
    /* transition: ease-in-out 1s; */
}
.alternate {
    background-color: var(--active-mybox-item-alternate);
}
.new_list_item {
    margin-left: 15%;
    width: 70%;
}
.new_button {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8.5em !important;
}
.new_list_item .right {
    width: 65% !important;
    
    .share, .delete {
        width: 7.5em !important;
    }
    .view {
        width: 7em !important;
    }
    .dl {
        width: 9em !important;
    }
    .visibility {
        width: 10em !important;
    }
}

.size {
    background-color: var(--active-primary);
    color: white;
    padding: 2px 4px;
    border-radius: 8px;
}

.sort_select {
    border: none;
    border-radius: 50px;
    width: 20rem !important;
    height: 3em;
    font-size: 1rem;
    background-color: white;
    text-align: center;
    display: flex;
    justify-self: center;
    align-self: center;
    margin-bottom: 1rem;
}

button.mybox_experiment {
    height: 2em;
}

@media screen and (max-width: 600px) {
    .mybox_form_pane {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        h2 {
            font-size: 2.5rem;
        }
        h4 {
            font-size: 1.5rem;
        }
        .mybox_contentH2 {
            font-size: 2rem;
        }
    }
    .mybox_form_pane>h2,h3,h4 {
        width: 100%;
    }
    #content_container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .content_items {
        width: 100%;
        margin-left: 0;
    }
    .content_items .size {
        font-size: 1em;
        display: flex;
        justify-content: space-between;
        padding: .3rem;

        .fa-lock {
            align-self: center;
            margin-left: .25rem;
        }
    }
    .content_items .top .left {
        width: 80%;

        .name {
            overflow: hidden;
        }
    }
    .delete {
        font-size: 1em;
        padding: 10px 15px;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .dropdown {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #newStorageAmount {
        margin: 0 1em 1em 1em;
    }
}

.loader_container {
    padding-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#loader {
    display: flex;
    align-items: center;
    justify-content: center;
    --primary: #fff;
}

/* Info */
.section_header {
    color: white;
    font-size: 48px;
}

.hr-info {
    margin-top: 15px;
    margin-bottom: 15px;
}

.info-main {
    text-align: center;
    color: white;
}

.info_item,
.stats_item {
    font-size: 2em;
}

.freesoft {
    margin: 0em 15em;
}

.hyperlink_text {
    text-decoration: underline;
    color: var(--active-primary);
    font-size: inherit;
}

@media screen and (max-width: 600px) {
    .section_header {
        font-size: 2em;
    }
    
    .info_item, .stats_item {
        font-size: 1.5em;
    }

    .freesoft {
        margin: 1em;
    }
}

/* File Info */
.view_info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.view_info>h2 {
    margin-top: 1.5rem;
}

.view_info>h2,h4 {
    text-align: center;
    color: var(--active-text);
    width: 100%;
}
.view_info h2 {
    font-size: 3em;
}
.view_info h4 {
    font-size: 1.5em;
}
.view_info #warning {
    color: red;
    display: none;
}

.view_info .view_preview {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2rem 0em;
    color: var(--active-text);
}

.view_info .font_preview {
    font-size: 2rem;
}

@media screen and (max-width: 600px) {
    .view_body {
        overflow: hidden;
    }
    .view_info h2 {
        font-size: 2em;
    }
    .view_info h4 {
        font-size: 1em;
    }
    .view_preview img {
        max-width: 95%;
        max-height: 75%;
    }

    .view_body.go {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translate(-50%);
    }
}
@media screen and (min-width: 601px) {
    .view_preview img {
        width: 25%;
        margin-bottom: 1em;
    }
}

/* error page */
.error_header {
    padding-top: 2em;
    text-align: center;
    color: var(--active-button-red);
    font-size: 2em;
}
.error {
    text-align: center;
    color: var(--active-button-red);
    font-size: 1.5em;
}

/* upload page */

.upload_page {
    @media screen and (max-width: 600px) {
        overflow: scroll;
    }
}
.upload_page .title {
    width: 100%;
}
.up_progressupload {
	height: 20px;
	margin-top: 25px;
}
.up_progress {
	background-color: var(--progress-new-green);
	width: 0%;
	height: 5px;
	border-radius: 4px;
}
.progressupload {
	height: 20px;
	margin-top: 25px;
}
.uploader {
	text-align: center;
    color: var(--active-text);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}
.upload-pane {
    text-align: center;
}
.uploader #title {
    font-size: 3em;
}
#storageAmount {
    color: var(--active-primary);
    font-weight: 200;
    margin-bottom: 35px;
}
#newStorageAmount {
    visibility: hidden;
    color: white;
    font-size: 1.5em;
    background-color: #121518;
    margin-bottom: 1em;
    border-radius: 16px;
    z-index: 0;
    height: 2.1em;
    width: 20em;
    text-align: center;
    overflow: hidden;
    border: 2px solid white;
    position: relative;
}
#newStorageAmount #fill {
    position: absolute;
    background-color: var(--active-primary);
    border-radius: 16px;
    width: 0.0em;
    height: 2.1em;
    z-index: 2;
}
#newStorageAmount #fill-preview {
    position: absolute;
    background-color: var(--active-primary-hover);
    /* border: inset .25rem solid var(--okayucdn-green); */
    border-radius: 16px;
    width: 0em;
    height: 2.1em;
    z-index: 2;
    transition: .5s all;
}
#newStorageAmount .texts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
#newStorageAmount .texts p {
    margin: 5px 10px;
    z-index: inherit;
}

.chooseFiles {
    display: none;
}

.uploadfile {
    color: white;
    background-color: var(--active-primary);
    cursor: pointer;
    padding: 60px 100px 50px;
    border-radius: 12px;
    border: 5px white dashed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 35em;
    height: 15em;
    animation: none;
}
.uploadfile #filename {
    display: flex;
    justify-content: center;
}
.filename, .common_input {
    width: 350px !important;
    height: 50px;
    font-size: 16px;
    border-radius: 1em;
    padding: .5em;
    border: 1px solid var(--active-text);
    color: var(--active-text);
    background-color: var(--active-background-compliment);
    text-align: center;
}
#hider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#filename_input {
    margin: 1em 25%;
}
#filename-error {
    width: max-content;
}
.private_toggle {
    width: 1.5rem;
    height: 1.5rem;
}
#div_private {
    margin: 0 25%;
}
#div_private p {
    font-size: 1.1rem;
}
#processing {
    place-content: center;
}

@keyframes file_missing {
    0% {
        background-color: var(--active-button-red);
    }
    25% {
        background-color: var(--active-button-red);
    }
    100% {
        background-color: var(--active-primary);
    }
}

.container-upload-second {
    display: none;
}

@keyframes uploading {
    0% {

    }
}

#shownfilename {
    margin-top: 10px;
    margin-bottom: 0px;
}

.uploadfile i {
    font-size: 3em;
    margin: 0px;
    width: 100%;
}

.upload_error {
    color: var(--active-button-red);
    text-align: center;
    display: none;
}

.banner-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--active-primary);
	color: white;
	text-align: center;
}

#premium-tag {
	color: white;
	background-color: #ffbb3c;
	padding: 5px 10px;
	border-radius: 16px;
	font-size: 16px;
	margin: 5px;
	display: none;
}
#bugtest-tag {
	color: white;
	background-color: var(--active-primary);
	padding: 5px 10px;
	border-radius: 16px;
	font-size: 16px;
	margin: 5px;
	display: none;
}
.upload-pane {
	/* background-color: #141924; */
	border-radius: 20px;
	padding: 1% 3%;
	color: white;
	width: 100%;
	display: flex;
    justify-content: center;
}
.version {
	position: fixed;
	bottom: 7px;
	right: 10px;
	color: white;
}
.up_wrap {
    margin: 10px;
}

.upload-progress {
    display: none;
    flex-wrap: wrap;
    place-content: center;
}
.upload-progress h1, .upload-progress h3 {
    text-align: center;
    width: 100%;
}
#processing {
    display: none;
}
.progressBarContainer {
    margin-top: 2rem;
    background-color: var(--active-background-compliment);
    width: 31.25rem;
    height: 40px;
    border-radius: 16px;
    z-index: 1;
    overflow: hidden;
}
.progressBar {
    background-color: var(--progress-new-green);
    padding: 10px 0px;
    width: 0%;
    height: 40px;
    border-radius: 16px;
    font-size: 1.2rem;
    z-index: 0;
    float: left;
    transition: width 0.5s ease;
}

@media screen and (max-width: 600px) {
    .uploader #title {
        font-size: 2em;
    }
    .uploadfile {
        width: -moz-fit-content;
        width: fit-content;
    }
    .uploader { 
        width: 100%;
    }
    #filename_input {
        margin: 1em 0;
    }
    #div_private {
        margin: 0;
    }
}

/* Account page */
.account_header {
    color: var(--active-text);
    margin-top: .5em;
}

.qrcode {
    margin: 0% 40%;
    margin-top: 1.5rem;
    display: none;
}
#instructions {
    display: none;
}

.setup2fa {
    text-align: center;
}

.setuptotp {
    text-align: center;
}

.totpSetup {
    /* display: flex; */
    justify-content: center;

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
    
    .numbers {
        display: none;
        justify-content: space-evenly;
        width: 325px;
        padding-top: 1em;
    }

    .otp-number {
        width: 50px !important;
        height: 50px;
        font-size: 16px;
        border-radius: 1em;
        padding: .5em;
        border: 1px solid var(--active-text);
        color: var(--active-text);
        background-color: var(--active-background-compliment);
        text-align: center;
    }
}


/* Success page */
.sc {
    margin-top: 25px;
    width: 100%;
    color: white;
    display: grid;
    place-items: center;
    text-align: center;
}
.sc_share {
    margin-top: 50px;
    padding: 9px 25px;
    background-color: var(--active-primary);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 18px;
    width: 250px;
}
.sc_view {
    margin-top: 10px;
    padding: 9px 25px;
    background-color: var(--okayucdn-green);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 18px;
    width: 250px;
}
.sc_view:hover {
    background-color: var(--okayucdn-green-hover);
}

@media screen and (max-width: 600px) {
    .sc {
        font-size: 0.75em;
        width: 95%;
    }
}

/* extras */
/* generally this .red class is used for buttons */
.red {
    background-color: var(--active-button-red);
}
.red:hover {
    background-color: var(--active-button-red-hover);
}

.gdpr_regulation_cookie_banner {
    background-color: var(--active-primary);
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gdpr_regulation_cookie_banner p {
    color: white;
    text-align: center;
    font-size: 20px;
}
.gdpr_button {
    border-radius: 10px;
    border: 2px solid white;
    padding: 4px 10px;
    margin-left: 15px;
    color: white
}
.gdpr_button:hover {
    background-color: white;
    transition: 50ms ease;
    color: grey;
}

@media screen and (max-width: 600px) {
    .gdpr_regulation_cookie_banner p {
        font-size: .75em;
    }
    .gdpr_button {
        display: none;
    }
}

/* 2fa setup */
.tfa_h1 {
    color: var(--active-text);
    margin-top: 15px;
}
.tfa_h3 {
    color: var(--active-text);
}
.center {
    text-align: center;
}

/* watch mp4 */
#videoPlayer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.container_video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* admin */
.admin-pane {
    color: white;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}
.admin-pane-input {
    width: 200px;
}
.admin-pane-input-large {
    width: 404px;
}
.admin-pane-button {
    width: 404px;
}
.flexbreak {
    flex-basis: 100%;
    height: 0;
}
.server-stats {
    text-align: center;
}
.stat-title {
    color: white;
}
#memory-usage {
    color: #0087a9;
}

/* Extra, loader animations */

/**
  * Line
  *
  * @author jh3y - jheytompkins.com
*/
@-webkit-keyframes line {
    from {
        background-position: -60px 0;
    }

    to {
        background-position: 60px 0;
    }
}

@keyframes line {
    from {
        background-position: -60px 0;
    }

    to {
        background-position: 60px 0;
    }
}

.line:before {
    -webkit-animation: line .75s infinite alternate ease-in-out;
    animation: line .75s infinite alternate ease-in-out;
    background: -webkit-gradient(linear, left top, right top, from(var(--primary)), to(var(--primary)));
    background: linear-gradient(90deg, var(--primary), var(--primary));
    background-repeat: no-repeat;
    background-size: 60px 20px;
    content: '';
    display: block;
    height: 20px;
    width: 60px;
}

/* terms page */
.terms-body {
    overflow: scroll;
}
.terms-title, .terms-subtitle, .terms-subtitle-smaller, .terms-footer {
    padding-left: 2.5%;
    padding-top: 12px;
}
.terms-container h1, h2, h3 {
    color: white;
}
.terms-terms {
    padding: 0 2.5%;
}
.terms-footer {
    padding-bottom: 2.5%;
}

/* Allows pages to be scrollable */
.scrollable {
    overflow: auto;
}

/**
  * Bloom
  *
  * @author jh3y - jheytompkins.com
*/
.bloom {
    --primary: #fff;
    height: 30px;
    position: relative;
    width: 30px; }
    .bloom:before, .bloom:after {
      border-radius: 100%;
      content: '';
      display: block;
      height: 30px;
      width: 30px; }
    .bloom:before {
      background-color: var(--primary);
      -webkit-animation: scale-up 1s infinite ease;
              animation: scale-up 1s infinite ease; }
    .bloom:after {
      -webkit-animation: scale 1s infinite;
              animation: scale 1s infinite;
      border: 4px solid var(--primary);
      left: 0;
      position: absolute;
      top: 0; }
  
  @-webkit-keyframes scale-up {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0); }
    50% {
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes scale-up {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0); }
    50% {
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @-webkit-keyframes scale {
    0%, 50% {
      opacity: 0; }
    55% {
      opacity: 1; }
    100% {
      opacity: 0;
      -webkit-transform: scale(2);
              transform: scale(2); } }
  
  @keyframes scale {
    0%, 50% {
      opacity: 0; }
    55% {
      opacity: 1; }
    100% {
      opacity: 0;
      -webkit-transform: scale(2);
              transform: scale(2); } }


              
/**
  * Rays
  *
  * @author jh3y
*/
@-webkit-keyframes rays {
    from {
      opacity: 1;
      -webkit-transform: scale(0);
              transform: scale(0); }
    to {
      opacity: 0;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  @keyframes rays {
    from {
      opacity: 1;
      -webkit-transform: scale(0);
              transform: scale(0); }
    to {
      opacity: 0;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  .rays:after, .rays:before {
    border-radius: 100%;
    content: '';
    position: absolute; }
  
  .rays:after {
    -webkit-animation: rays 1.5s infinite;
            animation: rays 1.5s infinite;
    border: 10px solid var(--primary);
    height: 100px;
    width: 100px; }
  
  .rays:before {
    background: var(--primary);
    height: 20px;
    width: 20px; }
              

/* landing page */
/* Chrominum */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    #body_landing {
        width: 100%;
    }
}

/* others */

.clickable-link {
    font-size: inherit;
    text-decoration: underline; 
    color: var(--okayucdn-blue);
}

/* New admin page */
.admin_body {
    overflow: scroll;
}
.admin_full {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    overflow: scroll;
}
.admin_top_bar {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p {
        text-align: right;
    }
    button {
        margin: .5em;
    }
}
.admin_page {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 80vh;
}

#userPage, #ipManage {
    display: none;
}

.userList {
    background-color: #1d1e22;
    place-content: center;
    align-self: start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 33%;
    padding: 1em;
    border-radius: 1em;
    margin-left: .5em;
    
    h3 {
        width: 100%;
        font-size: 2em;
        text-align: center;
    }
}
.admin_user {
    background-color: #33343b;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4em;
    border-radius: 1em;
    margin: .5em;
}
.admin_user p {
    color: white;
    justify-self: center;
    align-self: center;
    margin-left: 1em;
    font-size: 1.3em;
}
.admin_user button {
    justify-self: center;
    align-self: center;
    height: 3em;
    width: 7em;
    border-radius: 1em;
    background-color: #00a987;
    margin-right: .3em;
}
.admin_user button:hover {
    background-color: rgb(0, 169, 135, 0.8);
}

.options {
    display: none;
    justify-content: center;
    align-items: start;
    align-content: start;
    width: 66%;
    margin: 1em;
    margin-top: 0;
    padding: 1em;
    background-color: #1d1e22;
    border-radius: 1em;
    flex-wrap: wrap;
}
.options .admin_title {
    margin: 0.3rem;
    font-size: 2rem;
    width: 100%;
    justify-self: start;
    text-align: center;
}
.options .admin_subtitle {
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
}
.options button {
    margin: 0rem;
}
.options .sticky_top {
    align-self: flex-start;
    justify-content: center;
    text-align: center;
}
.options .userContent {
    width: 100%;
    background-color: #33343b;
    border-radius: 1em;
    margin-top: 2rem;
    justify-self: start;
    max-height: 82%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}
.admin_content {
    background-color: #1a1f25;
    display: flex;
    justify-content: space-between;
    height: 4em;
    border-radius: 1em;
    margin: .5em;
    width: 100%;
}
.admin_content p {
    color: white;
    justify-self: center;
    align-self: center;
    margin-left: 1em;
    font-size: 1.3em;
}
.admin_content button {
    justify-self: center;
    align-self: center;
    height: 3em;
    width: 7em;
    border-radius: 1em;
    background-color: var(--default-button-red);
    margin-right: .3em;
}
.admin_content button:hover {
    background-color: var(--default-button-red-hover);
}

.admin_content .list_right {
    align-self: center;
}

.ipManagement {
    display: flex;

    #ipBanner {
        display: none;
    }
}
.bans_panel {
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: start;

    .banlist {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        .top {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 1rem;

            h1 {
                width: 100%;
            }
        }
    }
    #ip_container {
        width: 80%;
        justify-content: center;
        display: flex;
        background-color: #33343b;
        border-radius: 1em;
        flex-wrap: wrap;
        padding: 1em;
        overflow: scroll;
        max-height: 65vh;

        .banned_ip {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 1em;
            border-radius: 1em;
            background-color: var(--default-background-compliment);
            margin: .25em;

            .right {
                align-content: center;
            }

            p:nth-child(1) {
                font-size: 1.5em;
            }
        }
    }
}




/* Modals */
/* Not ready for use */
.modal-overlay {
    display: none;
    background-color: black;
    opacity: 50%;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: sticky;
}
.modal {
    /* display: flex; */
    display: none;
    position: absolute;
    justify-content: center;
    align-content: center;
    margin-top: 5rem;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.modal-body {   
    position: fixed;
    opacity: 100%;
    z-index: 3;
    background-color: var(--active-background);
    border: 0.4rem dashed white;
    border-radius: 0.875rem;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 50%;
}

.modal-top {
    width: 100%;
}
.modal-title {
    font-size: 1.5rem;
}
.modal-description {
    font-size: 1rem;
}

/* Authorization page */
.authorize_body {
    display: flex;
    justify-content: center;
}

.authorize_panel {
    margin-top: 2em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--active-background-compliment);
    padding: 1em;
    border-radius: 1rem;
    border: 2px solid grey;

    .authorize_name, authorize_title, authorize_subtitle {
        width: 100%;
    }
    .top {
        width: 100%;
    }
    hr {
        width: 100%;
        color: var(--active-primary);
        border: 2px solid var(--active-primary);
        margin: .5em 0;
    }
    .permissions {
        margin-top: 1em;
        margin-bottom: 2em;
        width: 85%;
    }

    .buttons {
        width: 100%;
    }
    .buttons button {
        width: 85%;
        height: 3em;
        margin: .25em;
    }

    #loading {
        display: inline;
        height: 10rem;
        align-self: center;
        margin-top: 5em;
    }
    #displayed {
        display: none;
        width: 90%;
    }
}

.permissions_list {
    text-align: left;
}

.permissions_list li {
    text-decoration: dotted;
    display: inline;
    font-size: 1.25em;
    vertical-align: middle;
}
.permissions_list .fa-xmark {
    color: red;
    font-size: 2em;
    vertical-align: middle;
    display: none;
}
.permissions_list .fa-check {
    color: var(--okayucdn-green);
    font-size: 2em;
    vertical-align: middle;
    display: none;
}

.authorize_body footer {
    width: 100%;
    align-self: flex-end;
}

/**
  * Building blocks
  *
  * @author jh3y - jheytompkins.com
*/
@-webkit-keyframes building-blocks {
    0%,
    20% {
      opacity: 0;
      -webkit-transform: translateY(-300%);
              transform: translateY(-300%); }
    30%,
    70% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
    90%,
    100% {
      opacity: 0;
      -webkit-transform: translateY(300%);
              transform: translateY(300%); } }
  @keyframes building-blocks {
    0%,
    20% {
      opacity: 0;
      -webkit-transform: translateY(-300%);
              transform: translateY(-300%); }
    30%,
    70% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
    90%,
    100% {
      opacity: 0;
      -webkit-transform: translateY(300%);
              transform: translateY(300%); } }
  
  .building-blocks {
    position: relative; }
    .building-blocks div {
      height: 20px;
      position: absolute;
      width: 20px; }
      .building-blocks div:after {
        -webkit-animation: building-blocks 2.1s ease infinite backwards;
                animation: building-blocks 2.1s ease infinite backwards;
        background: var(--primary);
        content: '';
        display: block;
        height: 20px;
        width: 20px; }
      .building-blocks div:nth-child(1) {
        -webkit-transform: translate(-50%, -50%) translate(60%, 120%);
                transform: translate(-50%, -50%) translate(60%, 120%); }
      .building-blocks div:nth-child(2) {
        -webkit-transform: translate(-50%, -50%) translate(-60%, 120%);
                transform: translate(-50%, -50%) translate(-60%, 120%); }
      .building-blocks div:nth-child(3) {
        -webkit-transform: translate(-50%, -50%) translate(120%, 0);
                transform: translate(-50%, -50%) translate(120%, 0); }
      .building-blocks div:nth-child(4) {
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      .building-blocks div:nth-child(5) {
        -webkit-transform: translate(-50%, -50%) translate(-120%, 0);
                transform: translate(-50%, -50%) translate(-120%, 0); }
      .building-blocks div:nth-child(6) {
        -webkit-transform: translate(-50%, -50%) translate(60%, -120%);
                transform: translate(-50%, -50%) translate(60%, -120%); }
      .building-blocks div:nth-child(7) {
        -webkit-transform: translate(-50%, -50%) translate(-60%, -120%);
                transform: translate(-50%, -50%) translate(-60%, -120%); }
    .building-blocks div:nth-child(1):after {
      -webkit-animation-delay: 0.15s;
              animation-delay: 0.15s; }
    .building-blocks div:nth-child(2):after {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .building-blocks div:nth-child(3):after {
      -webkit-animation-delay: 0.45s;
              animation-delay: 0.45s; }
    .building-blocks div:nth-child(4):after {
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s; }
    .building-blocks div:nth-child(5):after {
      -webkit-animation-delay: 0.75s;
              animation-delay: 0.75s; }
    .building-blocks div:nth-child(6):after {
      -webkit-animation-delay: 0.9s;
              animation-delay: 0.9s; }
    .building-blocks div:nth-child(7):after {
      -webkit-animation-delay: 1.05s;
              animation-delay: 1.05s; }


/* various extra */
.hide-by-default {
    display: none;
}
.slight-margin-top {
    margin-top: .5rem;
}
.margin-top {
    margin-top: 1rem;
}
.margin-bottom {
    margin-bottom: 1rem;
}
.margin-bottom-less {
    margin-bottom: .25rem !important;
}
.text-hidden {
    display: none;
}
.text-white {
    color: white;
}