<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to OkayuCDN!</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
</head>
<body>
    <header>
        <img class="logo" src="/assets/images/logo.png" width="200"></img>
        <nav>
            <ul class="nav_links">
                <li><a href="../home">Home</a></li>
                <li><a href="../manage/upload">Upload</a></li>
                <li><a href="../manage/content">Manage</a></li>
                <li><a href="../info">Info</a></li>
            </ul>
        </nav>
    </header>

    <div class="upload-pane">
        <h2 class="login_title">Welcome to OkayuCDN!</h2>
        <h4 class="login_subtitle">We're happy to see new users!</h4>
        <form class="login_form" action="/signup" method="POST">
            <p style="text-align: center;">6-25 characters, letters and numbers only.</p>
            <input type="text" placeholder="Username" class="input_text" pattern="[a-zA-Z0-9]{6,25}" name="un" required /><br>
            <input type="password" placeholder="Password" name="pw" class="input_text" required /><br>
            <input type="text" placeholder="Real Name" name="nm" class="input_text" required /><br>
            <input type="email" placeholder="Email" name="em" class="input_text" required /><br>
            <p class="p">By signing up, you are agreeing to our <a style="color:cornflowerblue;" href="../terms">Terms of Service</a>.</p>
            <div class="wrap">
                <input type="submit" class="go" id="submit" value="Go" />
            </div>
        </form>
        <div class="wrap">
            <button class="go acc" onclick="location = `../login?redir=/home`">I already have an account</button>
        </div>
    </div>
</body>
</html>