<!DOCTYPE html>

<head>
    <title>Whoops! | OkayuCDN</title>
    <!-- <link rel="stylesheet" href="/assets/styles/_newStyles.css"> -->
    <!-- <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon" /> -->
    <!-- <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script> -->
</head>

<html>

<body>
    <!-- <%- include('parts/navbar', {active:'none'}) %> -->
    <div class="container404">
        <!-- <img src="/assets/images/okayu_angry.jpg"> -->
        <h1>Whoops! The server has rejected your request!</h1>
        <h4>Your country is blocked from accessing OkayuCDN</h4>
    </div>
</body>

<style>
    * {
        color: white;
        font-family: sans-serif;
    }
    body {
        background-color: black;
    }
    .container404 {
        text-align: center;
        margin-top: 5em;
    }
    img {
        width: 10%; 
        height: 10%
    }
    @media screen and (max-width: 714px) {
        img {
            width: 75%;
            height: 75%
        }
    }
</style>

</html>