<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>we love goldenmira</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://pixijs.download/v7.3.3/pixi.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script> -->

    <meta content="⁉️" property="og:title">
    <meta content="we love goldenmira" property="og:description">
    <meta content="https://okayu.okawaffles.com/mira" property="og:url">
    <meta content="#c58d66" data-react-helmet="true" name="theme-color">
</head>

<body>
    <style type="text/css">
        body {
            margin: 0;
            overflow: hidden;
            font-family: 'Clap Hand'
        }

        @font-face {
            font-family: "Clap Hand";
            src: url("/assets/fonts/claphand.otf");
        }
    </style>

    <script>
        "use strict";
    document.fonts.ready.then(() => {

        const MIRA_RANDOM_CHOOSE_CREME = (Math.random()>=0.5);

        let zoom = (( window.outerWidth - 10 ) / window.innerWidth).toFixed(2);
        console.log(zoom);

        // prevent tacobelle03 from getting around my check by 100%ing, then zooming after load >:3
        // jk, reloads the sketch so it looks normal after zooming on respectable browsers such as firefox
        $(window).resize(function() { 
            document.location = '/mira';
        });

        let fs = 120;
        let mX = 0;
        let mY = 0;
        let swid = visualViewport.width;
        let shei = visualViewport.height;
        if (swid < 1280) {
            fs = 60; 
            okayuScale = 1.3;
        }
        let app = new PIXI.Application({ width: swid, height: shei });
        app.stage.interactive = true;
        document.body.appendChild(app.view);
        let bgi = PIXI.Sprite.from('/assets/images/landing/bgi.png');
        let mira = PIXI.Sprite.from(MIRA_RANDOM_CHOOSE_CREME?'/assets/images/landing/mira_creme.png':'/assets/images/landing/mira_default.png');
        bgi.scale.set(1.05, 1.05);
        bgi.anchor.set(0.5);
        app.stage.addChild(bgi);
        let miraScale = 1.2 * (shei/1080);
        const MIRA_PNG_WIDTH = 1920;
        const MIRA_PNG_HEIGHT = 1017;
        const MIRA_POSITIONER_OFFSET = -425;
        mira.x = (swid / 2) - ((MIRA_PNG_WIDTH * miraScale) / 2);
        mira.y = shei - (MIRA_PNG_HEIGHT * miraScale);
        mira.scale.set(miraScale, miraScale);
        app.stage.addChild(mira);

        const MIRA_COLOR = MIRA_RANDOM_CHOOSE_CREME?'#c58d66':'#3a200b';
        const MIRA_COLOR_OPPOSITE = MIRA_RANDOM_CHOOSE_CREME?'#3a200b':'#c58d66';
        
        let copyright = new PIXI.Text('PNG Copyright owned by Goldenmira. All Rights Reserved.', {fontFamily: "Clap Hand", fontSize: 16, fill: "#ffffff"});
        let title = new PIXI.Text(`goldenmira`, { fontFamily: "Clap Hand", fontSize: fs, align: 'center', fill: MIRA_COLOR, stroke: MIRA_COLOR_OPPOSITE, strokeThickness:5 });
        title.x = swid / 2 - (title.width / 2);
        title.y = 200;
        
        // add copyright notice to bottom left
        copyright.x = 5;
        copyright.y = visualViewport.height - 28;

        let elapsed = 0.0;
        app.ticker.add((delta) => {
            elapsed += delta;
            mira.y = (shei - ((MIRA_PNG_HEIGHT + MIRA_POSITIONER_OFFSET) * miraScale)) + Math.cos(elapsed / 50.0) * 10.0;
            mira.x = (swid / 2) - ((MIRA_PNG_WIDTH * miraScale) / 2) - ((-mX/1.5) / 165) + swid / 125;
            title.y = 200 + -Math.cos(elapsed / 50.0) * 10.0;
            title.x = swid / 2 - (title.width / 2) - ((-mX/1.5) / 125) + swid / 125;
            
            bgi.x = swid / 2 - (mX / 75) + swid / 125;
            bgi.y = shei / 2 - (mY / 75) + shei / 125;
        });

        function updMXY(e) {
            let pos = e.data.global;
            mX = pos.x;
            mY = pos.y;
        }

        
        app.stage.addChild(title);
        app.stage.addChild(copyright);

        app.stage.on("pointermove", updMXY);
    })
    </script>
</body>

</html>