<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>okayu pointer landing</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>
    <style type="text/css">
        body {
            margin: 0;
            overflow: hidden;
        }
    </style>

    <meta content="okayu pointer landing" property="og:title">
    <meta content="Free file uploading for all." property="og:description">
    <meta content="https://okayu.okawaffles.com/" property="og:url">
    <meta content="#9000e3" data-react-helmet="true" name="theme-color">
</head>

<body>
    <script>
        let hr, mn, se;
        function getTime() {
            let d = new Date();
            if (d.getHours() < 10) hr = `0${d.getHours()}`; else hr = d.getHours();
            if (d.getMinutes() < 10) mn = `0${d.getMinutes()}`; else mn = d.getMinutes();
            if (d.getSeconds() < 10) se = `0${d.getSeconds()}`; else se = d.getSeconds();
        }

        let mX = 0;
        let mY = 0;
        let swid = screen.width;
        let shei = screen.height;
        let app = new PIXI.Application({ width: swid, height: shei });
        app.stage.interactive = true;
        document.body.appendChild(app.view);
        let bgi = PIXI.Sprite.from('/assets/images/landing/bgi.png');
        let okayu = PIXI.Sprite.from('/assets/images/landing/okayu.png');
        bgi.scale.set(1.1, 1.1);
        bgi.anchor.set(0.5);
        app.stage.addChild(bgi);
        okayuScale = 1.5 * (shei/1080);
        okayu.x = (swid / 2) - ((360 * okayuScale) / 2);
        okayu.y = shei - (450 * okayuScale);
        okayu.scale.set(okayuScale, okayuScale);
        app.stage.addChild(okayu);

        getTime();
        let title = new PIXI.Text(`${hr}:${mn}:${se}`, { fontFamily: "Courier New", fontSize: 120, align: 'center', fill: "#222742", stroke: "#222742", strokeThickness:"10" });
        title.x = swid / 2 - (title.width / 2);
        title.y = 200;
        app.stage.addChild(title);

        let elapsed = 0.0;
        app.ticker.add((delta) => {
            getTime();
            title.text = `${hr}:${mn}:${se}`

            elapsed += delta;
            okayu.y = (shei - (440 * okayuScale)) + Math.cos(elapsed / 50.0) * 10.0;
            title.y = 200 + -Math.cos(elapsed / 50.0) * 10.0;

            bgi.x = swid / 2 - (mX / 75) + swid / 125;
            bgi.y = shei / 2 - (mY / 75) + shei / 125;
        });

        function updMXY(e) {
            let pos = e.data.global;
            mX = pos.x;
            mY = pos.y;
        }

        app.stage.on("pointermove", updMXY);
    </script>

    <style>
        @font-face {
            font-family: KFhimajiMOCO;
            src: url("/assets/fonts/GenJyuuGothic.ttf");
        }
        body {
            position: fixed;
            top: 0;
            font-family: KFhimajiMOCO;
        }


        .navi-ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        .navi-li-left {
            float: left;
        }

        .navi-li-right {
            float: right;
        }

        .navi-li-left a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }

        .navi-li-right a {
            display: block;
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        .navi-li a:hover {
            background-color: #111;
        }
    </style>
</body>

</html>