<header>
    <img class="logo" id="logo" src="/assets/images/logo.png" width="200"></img>
    <nav>
        <ul class="nav_links">
            <li class="mobile-menu" id="mc"><a id="mca"><i class="fa-solid fa-bars"></i> Menu</a></li>
            <li><a id="home" href="/home"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a id="upload" href="/manage/upload"><i class="fa-solid fa-upload"></i> Upload</a></li>
            <li><a id="mybox" href="/mybox"><i class="fa-solid fa-box"></i> My Box</a></li>
            <li><a id="info" href="/info"><i class="fa-solid fa-circle-info"></i> Info</a></li>
            <li><a id="account" href="/account"><i class="fa-solid fa-user"></i> My Account</a></li>
        </ul>
    </nav>
</header>
<ul class="mobile-nav-links" id="mm">
    <li id="home-m"><a href="/home"><i class="fa-solid fa-house"></i> Home</a></li>
    <li id="upload-m"><a href="/manage/upload"><i class="fa-solid fa-upload"></i> Upload</a></li>
    <li id="mybox-m"><a href="/mybox"><i class="fa-solid fa-box"></i> My Box</a></li>
    <li id="info-m"><a href="/info"><i class="fa-solid fa-circle-info"></i> Info</a></li>
    <li id="account-m"><a href="/account"><i class="fa-solid fa-user"></i> My Account</a></li>
</ul>

<script>
    const d = new Date();
    if (d.getMonth()+1 == 6) {
        document.querySelector('#logo').src = `/assets/images/logo_pride.png`;
    } else {
        const CHOOSE_RANDOM_LOGO = Math.random() < 0.1;
        const PICK_PRIDE_OR_TRANS = Math.random() < 0.5;
        if (CHOOSE_RANDOM_LOGO) document.querySelector('#logo').src = `/assets/images/${PICK_PRIDE_OR_TRANS?'logo_pride_trans':'logo_pride'}.png`;
    }

    // You might be wondering why this is here. This is for when I am showing off the website to friends/family who
    // are not accepting of LGBTQ groups, as they can get extremely toxic, and I'd like to stay away from all that.
    if (document.cookie.includes('logo-unsafe-mode=true')) document.querySelector('#logo').src = '/assets/images/logo.png';

    document.getElementById('mc').onclick = function() {
        let d = document.getElementById('mm').style.display;
        document.getElementById('mm').style.display = (d=='inline-block')?'none':'inline-block';
        //document.getElementById('mca').className = (d=='inline-block')?'mobile-menu':'mobile-menu active'; // this causes a bug on firefox and i cant figure it out
    };
    
    try {
        document.getElementById("<%=active%>").className = 'active';    // desktop
        document.getElementById("<%=active%>-m").className = 'active';  // mobile
    } catch (e) { console.log('failed to set active navitem; assuming this is a page without one.'); };

</script>