<header>
    <img class="logo" src="/assets/images/logo.png" width="200"></img>
    <nav>
        <ul class="nav_links">
            <li class="mobile-menu" id="mc"><a id="mca"><i class="fa-solid fa-bars"></i> Menu</a></li>
            <li id="home"><a href="/home"><i class="fa-solid fa-house"></i> Home</a></li>
            <li id="upload"><a href="/manage/upload"><i class="fa-solid fa-upload"></i> Upload</a></li>
            <li id="mybox"><a href="/mybox"><i class="fa-solid fa-box"></i> My Box</a></li>
            <li id="info"><a href="/info"><i class="fa-solid fa-circle-info"></i> Info</a></li>
            <li><a href="/logout"><i class="fa-solid fa-right-to-bracket"></i> Log In</a></li>
        </ul>
    </nav>
</header>
<ul class="mobile-nav-links" id="mm">
    <li id="home-m"><a href="/home"><i class="fa-solid fa-house"></i> Home</a></li>
    <li id="upload-m"><a href="/manage/upload"><i class="fa-solid fa-upload"></i> Upload</a></li>
    <li id="mybox-m"><a href="/mybox"><i class="fa-solid fa-box"></i> My Box</a></li>
    <li id="info-m"><a href="/info"><i class="fa-solid fa-circle-info"></i> Info</a></li>
    <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Log In</a></li>
</ul>

<script>
    document.getElementById('mc').onclick = function() {
        let d = document.getElementById('mm').style.display;
        document.getElementById('mm').style.display = (d=='inline-block')?'none':'inline-block';
        //document.getElementById('mca').className = (d=='inline-block')?'mobile-menu':'mobile-menu active'; // this causes a bug on firefox and i cant figure it out
    }
</script>