<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OkayuCDN Verify Email</title>
</head>
<body style="margin: 0; padding: 0; width: 40rem; background-color: #24252A; color: white; font-family: sans-serif;">
    <header style="background-color: #1d1e22; width: 40rem;">
        <img src="https://okayucdn.com/assets/images/logo.png" alt="OkayuCDN Logo" />
    </header>
    <div class="content" style="margin: 1rem; margin-bottom: 17rem; padding: 1rem;">
        <h1 style="margin-bottom: 1rem; font-size: 2.5rem;">Welcome to OkayuCDN, $NAME!</h1>
        <h2 style="margin-bottom: 1rem; font-size: 2rem;">Please verify your email address to begin uploading</h2>
        <h3>You'll also gain access to password resetting and two-factor authentication!</p>
    </div>

    <div class="center" style="text-align: center;">
        <a href="$LINK" style="padding: 1rem 3rem; background-color: rgb(0, 135, 169); color: white; text-decoration: none; font-size: 1.5rem;">Verify</a>
    </div>

    <footer style="margin-top: 5rem; background-color: #111214; padding: 1rem 0; width: 100%; display: flex; justify-content: center; text-align: center; font-size: .75rem;">
        <p style="padding: .25rem 1rem;">This email was automatically sent by OkayuCDN, and any responses to it will not reach the maintainers. If you did not request to make an account, please disregard this email.</p>
    </footer>
</body>
</html>